.card .card-header {
  align-items: flex-start !important;
}

.filtro_busqueda {
  border-right: 1px solid rgba(128, 128, 128, 0.233);
}

.titulo_seccion p {
  padding-bottom: 13px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.281);
}

.filtro_busqueda ul {
  padding: 0px !important;
}

.filtro_busqueda ul li {
  text-transform: capitalize;
  list-style: none;
  color: black !important;
  font-family: "OpenSans-Regular";
}

.categorias {
  padding-bottom: 13px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.281);
  margin-bottom: 10px;
}

.boton_busqueda_filtro {
  text-align: center;
}

.input_busqueda {
  padding-bottom: 15px;
  margin-top: 2%;
  margin-bottom: 15px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.267);
}

.input_busqueda small {
  color: rgba(128, 128, 128, 0.822);
}

.fecha_busqueda {
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.267);
}

.checkbox-container label {
  padding-top: 5px;
}

.checkbox-container {
  display: flex;
  align-items: center;
}

input[type="checkbox"] {
  appearance: none;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  border: 2px solid gray;
  margin-right: 10px;
}

input[type="checkbox"]:checked {
  background-color: #002e66;
  border-color: #002e66;
}

.contenedor_noticia {
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  margin-bottom: 10px;
  padding: 0px !important;
  border: 1px solid rgba(128, 128, 128, 0.178);
  border-radius: 5%;
}

.imagen_noticia {
  height: 150px;
  background-size: contain;
  border-radius: 5% 5% 0% 0%;
}

.icono_favorito {
  right: 10px;
  top: 0px;
  width: 25px;
  height: 50px;
  position: absolute;
  z-index: 9;
  background-color: #002e66;

  text-align: center;
  align-items: center;
  padding-left: 5px !important;
  padding-right: 3px !important;
  padding-top: 13px !important;
  padding-bottom: 3px !important;
}

.icono_favorito svg {
  padding: 0px !important;
}

.titulo_noticia {
  margin-top: 10px;
  padding: 0px;
  font-family: "OpenSans-Bold";
  line-height: 14px;
  text-transform: capitalize;
}

.titulo_noticia p {
  margin-top: 10px;
  padding: 0px;
  font-family: "OpenSans-Bold";
  line-height: 14px;
  text-transform: capitalize;
}

.resumen_noticia {
  font-family: "OpenSans-Regular";
  font-size: 13px;
  color: grey;
  line-height: 12px !important;
}

.resumen_noticia p {
  padding: 0px !important;
  font-family: "OpenSans-Regular";
  font-size: 13px;
  color: grey;
  line-height: 16px !important;
  text-align: justify;
}
