body {
  font-family: "OpenSans-Regular" !important;
  overflow-x: hidden;
}

/* Tamaño del scroll */
body::-webkit-scrollbar {
  width: 8px;
  background: #002e661f;
}

/* Estilos barra (thumb) de scroll */
body::-webkit-scrollbar-thumb {
  background: #002e66;
  border-radius: 4px;
}

body::-webkit-scrollbar-thumb:active {
  background-color: #002e661f;
}

body::-webkit-scrollbar-thumb:hover {
  background: #002e661f;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

/* Estilos track de scroll */
body::-webkit-scrollbar-track {
  background: #002e6600;
  border-radius: 4px;
}

body::-webkit-scrollbar-track:hover,
body::-webkit-scrollbar-track:active {
  background: #002e661f;
}

#abrir-modal-login {
  height: 100px !important;
  background-color: #010d1b !important;
}

#img-logo-principal {
  width: 280px !important;
}

.owl-carousel .owl-item {
  height: 100% !important;
  background-color: rgba(255, 255, 255, 0);
}

/* SLIDER ENCABEZADOS PAGINA WEB */

.single-box-encabezado {
  background-color: #002e666c;
  height: 70vh !important;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.encabezado-slider {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.imagen_de_fondo_encabezado {
  width: 100%;
  height: 100%;
  position: absolute;
  background-size: cover;
}

.contenedor_color_fondo_encabezado {
  position: absolute;
  height: 100%;
  width: 500px;
  z-index: 2;
}

.contenedor_informacion_slider_encabezado {
  z-index: 2;
  width: 100%;
  top: 0;
  position: absolute;
  height: 100%;
  display: flex;
  align-items: center;
}

.contenedor_titulo_slider_encabezado {
  background-size: 100% 100%;
  z-index: 2;
  width: 45%;
  height: 100%;
  right: 0px;
  float: right;
  font-size: 60px !important;
  color: white !important;
  line-height: 50px !important;
  font-family: "OpenSans-Bold" !important;
  text-align: right !important;
  position: relative !important;
  padding-left: 20vh;
  padding-right: 10vh;

  display: flex;
  align-items: center;
}

.contenedor_descripcion_slider_encabezado {
  background-image: url("https://s3.amazonaws.com/cnp.com.co/Fondo+Banner-principal-01.png");
  background-size: 100% 100%;
  z-index: 2;
  width: 55%;
  height: 100%;
  right: 0px;
  float: right;
  font-size: 60px !important;
  color: #002e66 !important;
  line-height: 50px !important;
  font-family: "OpenSans-Regular" !important;
  text-align: left !important;
  position: relative !important;
  padding-left: 20vh;
  padding-right: 10vh;

  display: flex;
  align-items: center;
}

.titulo_contenedor_slider {
  width: 100%;
  font-family: "OpenSans-Bold" !important;
}

.descripcion_contenedor_slider {
  font-family: "OpenSans-Regular";
  font-size: 18px;
  padding-top: 20px;
}

.descripcion_contenedor_slider p {
  line-height: 20px !important;
}

.boton_slider_encabezado {
  width: 100%;
  position: absolute;
  bottom: 60px;
  text-align: center;
  font-family: "OpenSans-Regular";
  z-index: 3;
}

.boton_slider_encabezado a {
  background-color: #002e66;
  color: white;
  padding: 8px 20px 8px 20px;
  margin-bottom: 40px !important;
  font-size: 15px;
  font-family: "OpenSans-Regular" !important;
  border-radius: 10px;
  border: 1px solid #000f22;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/* Tamaño del scroll */
.contenedor_texto::-webkit-scrollbar {
  width: 8px;
  background: #002e661f;
}

/* Estilos barra (thumb) de scroll */
.contenedor_texto::-webkit-scrollbar-thumb {
  background: #002e661f;
  border-radius: 4px;
}

.contenedor_texto::-webkit-scrollbar-thumb:active {
  background-color: 002e661f;
}

.contenedor_texto::-webkit-scrollbar-thumb:hover {
  background: #002e661f;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

/* Estilos track de scroll */
.contenedor_texto::-webkit-scrollbar-track {
  background: #002e6600;
  border-radius: 4px;
}

.contenedor_texto::-webkit-scrollbar-track:hover,
.contenedor_texto::-webkit-scrollbar-track:active {
  background: #002e661f;
}

.owl-carousel .owl-item {
  display: block;
  width: auto;
  height: 100vh;
  margin: 0 auto;
}

.owl-dots {
  display: none;
}

/* FIN SLIDER ENCABEZADOS PAGINA WEB */

/* ======================== CONTENEDOR QUE ES CNP ======================== */

.contenedor_segundario_principal {
  background-image: url("https://s3.amazonaws.com/cnp.com.co/FONDO+BENEFICIOS-VIDEO-01.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: white;
}

.beneficio_uno,
.beneficio_dos,
.beneficio_tres,
.beneficio_cuatro,
.beneficio_cinco,
.beneficio_seis {
  margin-top: 40px !important;
}

.contenedor_izquierdo_segundario {
  font-family: "OpenSans-Bold";
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contenedor_izquierdo_segundario h1 {
  color: #002e66 !important;
  line-height: 40px !important;
}

.contenedor_derecho_segundario video {
  width: 100%;
}

.contenedor_beneficio {
  padding: 10px;
}

.imagen_beneficio {
  display: flex;
  justify-content: center;
  align-items: center;
}

.imagen_beneficio img {
  width: 80%;
}

.descripcion_beneficio {
  display: flex;
  justify-content: center;
  align-items: center;
}

.descripcion_beneficio p {
  font-family: "OpenSans-Bold";
  line-height: 20px;
}

/* ======================== FIN CONTENEDOR QUE ES CNP ======================== */

/* ======================== CONTENEDOR NUESTRO PORTAFOLIO DE SERVICIOS ======================== */

.contenedor_tercero_principal {
  background-color: #f8f8f8 !important;
}

.servicio_cnp {
  padding: 20px !important;
}

.servicio_cnp:hover {
  cursor: pointer;
}

.titulo_seccion_servicios {
  color: #1f335e !important;
  text-align: center;
  margin-bottom: 5px;
}

.titulo_seccion_servicios h1 {
  font-family: "OpenSans-Bold" !important;
  color: #1f335e !important;
}

.contenedor_servicio {
  border-radius: 10px !important;
  background-size: cover;
  height: 200px !important;
  position: relative;
  padding: 10px;
}

.capa_superior_servicio {
  border-radius: 10px !important;

  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #002e66a2;
  /* Fondo semi-transparente para ilustrar la superposición */
  z-index: 1;
  /* Establece la capa por encima del contenido del div */
}

.contenedor_servicios {
  margin-top: 20px !important;
}

.titulo_servicio_cnp {
  z-index: 2;
  position: relative;
  color: white;
  height: 100%;

  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.titulo_servicio_cnp p {
  font-family: "OpenSans-Bold";
  font-size: 20px;
  line-height: 22px;
}


.single-box-servicio {
  height: 350px;
  overflow: scroll;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  border: 1px solid #ddd;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0px 2px 18px 0px rgb(0 0 0 / 30%);
}

.single-box-servicio {
  border-radius: 10px;
  border: 1px solid #010d1b !important;
  background-color: #010d1b !important;
}

.single-box-servicio a {
  font-family: "OpenSans-Bold" !important;
  color: white !important;
}

.img-area-servicio {
  height: 150px;
  background-size: cover;
}

.img-area-servicio {
  height: 150px;
  background-size: cover;
}

.titulo_slider_servicio {
  padding: 10px;
  color: white;
  font-family: "OpenSans-Bold";
  line-height: 14px;
}

.descripcion_slider_servicio {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 10px;
  padding-left: 10px;
  color: rgba(255, 255, 255, 0.63);
  font-family: "OpenSans-Regular";
  line-height: 14px;
  font-size: 12px;
  text-align: justify;
}

/* ======================== FIN CONTENEDOR NUESTRO PORTAFOLIO DE SERVICIOS ======================== */

/* ======================== CONTENEDOR COTIZADOR DE DICTAMENES ======================== */
.contenedor_cuarto_principal {
  background-image: url("https://s3.amazonaws.com/cnp.com.co/FONDO+COTIZADOR+DICTAMEN+CNP.png");
  background-color: white;
  background-size: cover;
  position: relative;
}

.contenedor_cuarto_principal:after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  box-shadow: inset 0px 30px 50px 0px rgb(255, 255, 255); /* Establece una sombra interna solo en la parte superior */
  position: absolute;
  top: 0;
  left: 0;
}

.capa_superpuesta {
  background-color: rgba(255, 255, 255, 0.432);
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1;
}

.contenedor_izquierdo_cuarto {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.titulo_izquierdo_cuarto h1 {
  font-family: "OpenSans-Bold";
  color: #002e66 !important;
  line-height: 40px !important;
  display: block;
  text-align: left;
}

.descripcion_izquierdo_cuarto p {
  font-family: "OpenSans-Regular" !important;
  display: block;
  font-size: 30px;
  line-height: 28px;
  color: #002e66 !important;
  text-align: left;
}

.contenedor_derecho_cuarto {
  z-index: 2;
  position: relative;
}

.contenedor_formulario {
  padding: 20px;
  border-radius: 5px;
}

.contenedor_formulario::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  filter: blur(5px);
  opacity: 0.7;
  z-index: -1;
  /* Establece el z-index del pseudoelemento por detrás de los elementos dentro del div */
}

/* ======================== FIN CONTENEDOR COTIZADOR DE DICTAMENES ======================== */

/* ======================== CONTENEDOR MEMBRESIA ======================== */

.contenedor_cinco_principal {
  background-image: url("https://s3.amazonaws.com/cnp.com.co/FONDO+MEMBRESIA+NUEVO-01.png");
  background-color: white;
  background-size: cover;
  position: relative;
  padding-bottom: 0px !important;
}

.contenedor_izquierdo_cinco {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.titulo_izquierdo_cinco {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.titulo_izquierdo_cinco img {
  width: 60%;
}

.descripcion_izquierdo_cinco p {
  font-family: "OpenSans-Regular" !important;
  display: block;
  font-size: 30px;
  line-height: 28px;
  color: #002e66 !important;
}

.contenedor_derecho_cinco {
  z-index: 2;
  position: relative;
  text-align: left;

  display: flex;
  align-items: center;
  justify-content: center;
}

.contenedor_derecho_cinco h1 {
  color: white;
  font-family: "OpenSans-Bold";
  text-align: left;
}

.descripcion_derecho_cinco {
  color: white;
}

.titulo_izquierdo_cinco {
  display: block;
}

.titulo_derecho_cinco {
  text-align: left;
}

.descripcion_derecho_cinco p {
  font-family: "OpenSans-Regular";
  font-size: 24px;
}

.boton_ir_membresia {
  font-family: "OpenSans-Regular" !important;
  border-radius: 18px !important;
  padding-top: 4px !important;
  padding-left: 16px !important;
  padding-right: 16px !important;
  padding-bottom: 4px !important;
  color: #002e66 !important;
  background-color: #f8f8f8 !important;
  font-size: 13px !important;
  margin-top: 12px;
}

/* ======================== FIN CONTENEDOR MEMBRESIA ======================== */

/* ======================== CONTENEDOR AGENDA TU CITA ======================== */

.contenedor_izquierdo_seis {
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  color: #002e66 !important;
}

.titulo_izquierdo_seis h1 {
  font-family: "OpenSans-Bold" !important;
  color: #002e66 !important;
}

.descripcion_izquierdo_seis p {
  padding-top: 20px !important;
  text-align: left !important;
  font-family: "OpenSans-Regular" !important;
  display: block;
  font-size: 30px !important;
  line-height: 28px !important;
  color: #002e66 !important;
}

.contenedor_derecho_seis {
  z-index: 2;
  position: relative;
  text-align: left;

  display: flex;
  align-items: center;
  justify-content: center;
}

.contenedor_derecho_seis h1 {
  color: white;
  font-family: "OpenSans-Bold";
  text-align: left;
}

.descripcion_derecho_seis {
  color: white;
}

.titulo_izquierdo_seis {
  display: block;
}

.titulo_derecho_seis {
  text-align: left;
}

.descripcion_derecho_seis p {
  font-family: "OpenSans-Regular";
  font-size: 24px;
}

.boton_ir_membresia {
  font-family: "OpenSans-Regular" !important;
  border-radius: 18px !important;
  padding-top: 4px !important;
  padding-left: 16px !important;
  padding-right: 16px !important;
  padding-bottom: 4px !important;
  color: #002e66 !important;
  background-color: #f8f8f8 !important;
  font-size: 13px !important;
  margin-top: 12px;
}

.contenedor_derecho_seis {
  z-index: 2;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 10px;
}

.title_day_calendar {
  font-size: 18px;
  font-family: "OpenSans-Regular";
  color: #002e66;
}

.fila_dias {
  text-align: center;
  align-content: center;
}

#current-month {
  color: #002e66;
  font-size: 24px;
  font-family: "OpenSans-Bold";
  text-transform: uppercase;
}

.title_mmonth {
  text-align: justify;
}

#calendar-body {
  font-size: 30px !important;
  color: #002e66 !important;
  font-family: "OpenSans-Regular" !important;
  text-align: center;
  align-content: center;
}

#calendar-body:hover {
  cursor: pointer;
}

#prev-month:hover,
#next-month:hover {
  cursor: pointer;
}

.dia_mes_seleccion {
  font-family: "OpenSans-Regular" !important;
  font-size: 20px;
}

.dia_mes_seleccion a {
  font-family: "OpenSans-Bold";
  margin: 0px !important;
  padding: 0px !important;
}

.contenido_header_calendario {
  display: flex;
  align-items: center;
  justify-content: center;
}

.calendario_centro {
  text-align: center;
}

.calendario_derecha {
  text-align: right;
}

.current-day {
  align-items: center !important;
  text-align: center !important;
  justify-content: center !important;
}

.current-day a {
  font-family: "OpenSans-Bold";
  border: 2px solid #000f22 !important;
  border-radius: 50%;
  color: #000f22;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
  padding-right: 5px !important;
  padding-left: 5px !important;
  width: 100%;
  margin: 0px !important;

  align-items: center !important;
  text-align: center !important;
  justify-content: center !important;
}

/* ======================== FIN CONTENEDOR AGENDA TU CITA ======================== */

/* ======================== CONTENEDOR NOTICIAS ======================== */

.single-box-noticia {
  height: 350px;
  overflow: scroll;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  border: 1px solid #ddd;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0px 2px 18px 0px rgb(0 0 0 / 30%);
}

.contenedor_slider_noticias {
  background-color: #002e66;
}

.img-area-noticia {
  height: 150px;
  background-size: cover;
}

.single-box-noticia {
  border-radius: 10px;
  border: 1px solid #010d1b !important;
  background-color: #010d1b !important;
}

.titulo_seccion_noticia {
  font-size: 40px;
  font-family: "OpenSans-Bold";
  color: white;
  text-align: center;
}

.titulo_seccion_noticia p {
  padding-bottom: 10px !important;
  margin-bottom: 10px !important;
  border-bottom: 1px solid rgba(128, 128, 128, 0.384);
}

.titulo_slider_noticia {
  padding: 10px;
  color: white;
  font-family: "OpenSans-Bold";
  line-height: 14px;
}

.descripcion_slider_servicio {
  color: white !important;
  font-family: "OpenSans-Regular" !important;
}

.descripcion_slider_noticia {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 10px;
  padding-left: 10px;
  color: rgba(255, 255, 255, 0.63);
  font-family: "OpenSans-Regular";
  line-height: 14px;
  font-size: 12px;
  text-align: justify;
}

.single-box-noticia a {
  font-family: "OpenSans-Bold" !important;
  color: white !important;
}

/* ======================== FIN CONTENEDOR NOTICIAS ======================== */

/* ======================== CONTENEDOR NUESTROS CLIENTES ======================== */
.titulo_seccion_clientes {
  font-size: 40px;
  font-family: "OpenSans-Bold";
  color: #002e66;
  text-align: center;
}

.unico-single-box-cliente {
  margin: 20px;
}

/* ======================== FIN CONTENEDOR NUESTROS CLIENTES ======================== */

/* ======================== CONTENEDOR MODAL MEMBRESIAS ======================== */

.titulo_modal_membresia {
  text-align: center !important;
  color: #002e66 !important;
  font-family: "OpenSans-Bold" !important;
}

.titulo_modal_membresia h2 {
  color: #002e66 !important;
  padding-bottom: 8px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.26);
}

.contenedor_modal_membresia {
  padding: 10px;
}

.contenedor_membresia_unico {
  border-radius: 10px !important;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.imagen_membresia_modal {
  height: 120px;
  background-size: 100% 100%;
}

.titulo_membresia_modal {
  padding-top: 8px;
  padding-bottom: 0px !important;
  text-align: center;
  font-size: 16px;
  color: #000f22;
  font-family: "OpenSans-Bold";
}

.descripcion_membresia {
  padding-left: 8px;
  padding-right: 8px;
}

.descripcion_membresia ul {
  padding: 0px !important;
}

.descripcion_membresia ul li {
  font-size: 13px;
  color: #000f22;
  font-family: "OpenSans-Light";
}

.botones_membership {
  padding-top: 4px;
  background-color: #000f22;
  text-align: center;
  color: white;
  padding-bottom: 4px;
}

.info_btn_membreship {
  color: white;
  text-decoration: none;
  font-size: 14px;
}

.info_btn_membreship:hover {
  cursor: pointer;
  color: white;
}

/* ======================== FIN CONTENEDOR MODAL MEMBRESIAS ======================== */

/* ================================================================================================================ */

/* ======================= CODIGO QUERY CSS ======================= */

@media only screen and (min-width: 100px) and (max-width: 320px) {

  /* SLIDER ENCABEZADOS PAGINA WEB */
  .contenedor_informacion_slider_encabezado {
    display: block;
  }

  .contenedor_color_fondo_encabezado {
    position: absolute;
    height: 100%;
    width: 500px;
    z-index: 2;
  }

  .contenedor_titulo_slider_encabezado {
    display: none;
  }

  .contenedor_descripcion_slider_encabezado {
    border-radius: 10px 10px 0px 0px;
    background-color: white;
    height: 25vh;
    z-index: 2;
    width: 100%;
    float: right;
    position: absolute !important;
    font-size: 60px !important;
    bottom: 0px;
    right: 0px;
    color: #002e66 !important;
    line-height: 50px !important;
    font-family: "OpenSans-Regular" !important;
    text-align: left !important;

    display: flex;
    padding-left: 20px;
    overflow: scroll;
    overflow-x: hidden;
  }

  .titulo_contenedor_slider {
    font-size: 20px;
    width: 100%;
    font-family: "OpenSans-Bold" !important;
  }

  .descripcion_contenedor_slider {
    font-family: "OpenSans-Regular";
    font-size: 13px;
    padding-top: 10px;
  }

  .descripcion_contenedor_slider p {
    line-height: 15px !important;
  }

  .boton_slider_encabezado {
    position: absolute;
    top: 0px;
    text-align: right;
    font-size: 12px;
  }

  .boton_slider_encabezado a {
    font-size: 10px;
    margin-right: 10px;
  }

  /* Tamaño del scroll */
  .contenedor_texto::-webkit-scrollbar {
    width: 8px;
    background: #002e661f;
  }

  /* Estilos barra (thumb) de scroll */
  .contenedor_texto::-webkit-scrollbar-thumb {
    background: #002e661f;
    border-radius: 4px;
  }

  .contenedor_texto::-webkit-scrollbar-thumb:active {
    background-color: 002e661f;
  }

  .contenedor_texto::-webkit-scrollbar-thumb:hover {
    background: #002e661f;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
  }

  /* Estilos track de scroll */
  .contenedor_texto::-webkit-scrollbar-track {
    background: #002e6600;
    border-radius: 4px;
  }

  .contenedor_texto::-webkit-scrollbar-track:hover,
  .contenedor_texto::-webkit-scrollbar-track:active {
    background: #002e661f;
  }

  .owl-carousel .owl-item {
    display: block;
    width: auto;
    height: 100vh;
    margin: 0 auto;
  }

  .owl-dots {
    display: none;
  }

  /* FIN SLIDER ENCABEZADOS PAGINA WEB */

  /* ======================== CONTENEDOR QUE ES CNP ======================== */

  .contenedor_segundario_principal {
    background-image: url("https://s3.amazonaws.com/cnp.com.co/FONDO+BENEFICIOS-VIDEO-01.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: white;
  }

  .beneficio_uno,
  .beneficio_dos,
  .beneficio_tres,
  .beneficio_cuatro,
  .beneficio_cinco,
  .beneficio_seis {
    display: none;
    margin-top: 40px !important;
  }

  .contenedor_izquierdo_segundario {
    font-family: "OpenSans-Bold";
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .contenedor_izquierdo_segundario h1 {
    color: #002e66 !important;
    font-size: 24px;
    line-height: 22px !important;
  }

  /* ======================== FIN CONTENEDOR QUE ES CNP ======================== */

  /* ======================== CONTENEDOR NUESTRO PORTAFOLIO DE SERVICIOS ======================== */

  .contenedor_tercero_principal {
    background-color: #f8f8f8 !important;
  }

  .servicio_cnp {
    padding: 20px !important;
  }

  .servicio_cnp:hover {
    cursor: pointer;
  }

  .titulo_seccion_servicios {
    color: #1f335e !important;
    text-align: center;
    margin-bottom: 0px;
  }

  .titulo_seccion_servicios h1 {
    font-family: "OpenSans-Bold" !important;
    color: #1f335e !important;
  }

  .contenedor_servicio {
    width: 50%;
    float: left;
    border-radius: 10px !important;
    background-size: cover;
    height: 150px !important;
    position: relative;
    padding: 10px;
    margin-top: 0px !important;
    margin-bottom: -30px !important;
  }


  /* ======================== FIN CONTENEDOR NUESTRO PORTAFOLIO DE SERVICIOS ======================== */

  /* ======================== CONTENEDOR COTIZADOR DE DICTAMENES ======================== */
  .contenedor_cuarto_principal {
    background-image: url("https://s3.amazonaws.com/cnp.com.co/FONDO+COTIZADOR+DICTAMEN+CNP.png");
    background-color: white;
    background-size: cover;
    position: relative;
  }

  .capa_superpuesta {
    background-color: rgba(255, 255, 255, 0.432);
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
  }

  .contenedor_izquierdo_cuarto {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
  }

  .titulo_izquierdo_cuarto h1 {
    font-family: "OpenSans-Bold";
    color: #002e66 !important;
    line-height: 40px !important;
    display: block;
    text-align: center;
    font-size: 26px;
  }

  .descripcion_izquierdo_cuarto p {
    font-family: "OpenSans-Regular" !important;
    display: block;
    font-size: 18px !important;
    line-height: 16px;
    color: #002e66 !important;
    text-align: justify;

    padding-left: 20px;
    padding-right: 20px;
  }

  /* ======================== FIN CONTENEDOR COTIZADOR DE DICTAMENES ======================== */

  /* ======================== CONTENEDOR MEMBRESIA ======================== */

  .contenedor_cinco_principal {
    background-image: url("https://s3.amazonaws.com/cnp.com.co/FONDO+MEMBRESIA+NUEVO-01.png");
    background-color: white;
    background-size: cover;
    position: relative;
    padding-bottom: 20px !important;
  }

  .contenedor_izquierdo_cinco {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    float: right;
  }

  .titulo_izquierdo_cinco {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
  }

  .titulo_izquierdo_cinco img {
    width: 60%;
  }

  .descripcion_izquierdo_cinco p {
    font-family: "OpenSans-Regular" !important;
    display: block;
    font-size: 30px;
    line-height: 28px;
    color: #002e66 !important;
    float: left;
  }

  .contenedor_derecho_cinco {
    z-index: 2;
    position: relative;
    text-align: justify;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .contenedor_derecho_cinco h1 {
    color: white;
    font-family: "OpenSans-Bold";
    text-align: left;
  }

  .descripcion_derecho_cinco {
    color: white;
    font-size: 20px;
    text-align: justify;
  }

  .titulo_izquierdo_cinco {
    display: block;
  }

  .titulo_derecho_cinco {
    padding-top: 16px;
    text-align: center;
    align-items: center;
    align-content: center;
  }

  .titulo_derecho_cinco h1 {
    text-align: center;
  }

  .descripcion_derecho_cinco p {
    font-family: "OpenSans-Regular";
    font-size: 18px;
    line-height: 16px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .boton_contenedor_derecho_cinco {
    text-align: center;
    justify-content: center;
  }

  .boton_ir_membresia {
    font-family: "OpenSans-Regular" !important;
    border-radius: 18px !important;
    padding-top: 4px !important;
    padding-left: 16px !important;
    padding-right: 16px !important;
    padding-bottom: 4px !important;
    color: #002e66 !important;
    background-color: #f8f8f8 !important;
    font-size: 13px !important;
    margin-top: 12px;
  }

  /* ======================== FIN CONTENEDOR MEMBRESIA ======================== */

  /* ======================== CONTENEDOR AGENDA TU CITA ======================== */

  .contenedor_izquierdo_seis {
    text-align: center;
    align-items: center;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    color: #002e66 !important;
  }

  .titulo_izquierdo_seis h1 {
    font-family: "OpenSans-Bold" !important;
    color: #002e66 !important;
    line-height: 20px;
  }

  .descripcion_izquierdo_seis p {
    padding-top: 8px !important;
    text-align: justify !important;
    font-family: "OpenSans-Regular" !important;
    display: block;
    font-size: 17px !important;
    line-height: 20px !important;
    color: #002e66 !important;
  }

  .contenedor_derecho_seis {
    z-index: 2;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
  }

  .title_day_calendar {
    font-size: 18px;
    font-family: "OpenSans-Regular";
    color: #002e66;
  }

  .fila_dias {
    text-align: center;
    align-content: center;
  }

  #current-month {
    color: #002e66;
    font-size: 18px;
    font-family: "OpenSans-Bold";
    text-transform: uppercase;
  }

  .title_mmonth {
    text-align: justify;
  }

  #calendar-body {
    font-size: 18px !important;
    color: #002e66 !important;
    font-family: "OpenSans-Regular" !important;
    text-align: center;
    align-content: center;
  }

  .current-day {
    align-items: center !important;
    text-align: center !important;
    justify-content: center !important;
  }

  .dia_mes_seleccion {
    font-size: 16px;
  }

  /* ======================== FIN CONTENEDOR AGENDA TU CITA ======================== */

  /* ======================== CONTENEDOR NUESTROS CLIENTES ======================== */
  .titulo_seccion_clientes {
    font-size: 24px;
    font-family: "OpenSans-Bold";
    color: #002e66;
    text-align: center;
    font-size: 30px;
    line-height: 24px;
  }

  .unico-single-box-cliente {
    margin: 20px;
  }

  /* ======================== FIN CONTENEDOR NUESTROS CLIENTES ======================== */
}

@media only screen and (min-width: 321px) and (max-width: 375px) {

  /* SLIDER ENCABEZADOS PAGINA WEB */
  .contenedor_informacion_slider_encabezado {
    display: block;
  }

  .contenedor_color_fondo_encabezado {
    position: absolute;
    height: 100%;
    width: 500px;
    z-index: 2;
  }

  .contenedor_titulo_slider_encabezado {
    display: none;
  }

  .contenedor_descripcion_slider_encabezado {
    border-radius: 10px 10px 0px 0px;
    background-color: white;
    height: 25vh;
    z-index: 2;
    width: 100%;
    float: right;
    position: absolute !important;
    font-size: 60px !important;
    bottom: 0px;
    right: 0px;
    color: #002e66 !important;
    line-height: 50px !important;
    font-family: "OpenSans-Regular" !important;
    text-align: left !important;

    display: flex;
    padding-left: 20px;
    overflow: scroll;
    overflow-x: hidden;
  }

  .titulo_contenedor_slider {
    font-size: 20px;
    width: 100%;
    font-family: "OpenSans-Bold" !important;
  }

  .descripcion_contenedor_slider {
    font-family: "OpenSans-Regular";
    font-size: 13px;
    padding-top: 10px;
  }

  .descripcion_contenedor_slider p {
    line-height: 15px !important;
  }

  .boton_slider_encabezado {
    position: absolute;
    top: 0px;
    text-align: right;
    font-size: 12px;
  }

  .boton_slider_encabezado a {
    font-size: 10px;
    margin-right: 10px;
  }

  /* Tamaño del scroll */
  .contenedor_texto::-webkit-scrollbar {
    width: 8px;
    background: #002e661f;
  }

  /* Estilos barra (thumb) de scroll */
  .contenedor_texto::-webkit-scrollbar-thumb {
    background: #002e661f;
    border-radius: 4px;
  }

  .contenedor_texto::-webkit-scrollbar-thumb:active {
    background-color: 002e661f;
  }

  .contenedor_texto::-webkit-scrollbar-thumb:hover {
    background: #002e661f;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
  }

  /* Estilos track de scroll */
  .contenedor_texto::-webkit-scrollbar-track {
    background: #002e6600;
    border-radius: 4px;
  }

  .contenedor_texto::-webkit-scrollbar-track:hover,
  .contenedor_texto::-webkit-scrollbar-track:active {
    background: #002e661f;
  }

  .owl-carousel .owl-item {
    display: block;
    width: auto;
    height: 100vh;
    margin: 0 auto;
  }

  .owl-dots {
    display: none;
  }

  /* FIN SLIDER ENCABEZADOS PAGINA WEB */

  /* ======================== CONTENEDOR QUE ES CNP ======================== */

  .contenedor_segundario_principal {
    background-image: url("https://s3.amazonaws.com/cnp.com.co/FONDO+BENEFICIOS-VIDEO-01.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: white;
  }

  .beneficio_uno,
  .beneficio_dos,
  .beneficio_tres,
  .beneficio_cuatro,
  .beneficio_cinco,
  .beneficio_seis {
    display: none;
    margin-top: 40px !important;
  }

  .contenedor_izquierdo_segundario {
    font-family: "OpenSans-Bold";
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .contenedor_izquierdo_segundario h1 {
    color: #002e66 !important;
    font-size: 24px;
    line-height: 22px !important;
  }

  /* ======================== FIN CONTENEDOR QUE ES CNP ======================== */

  /* ======================== CONTENEDOR NUESTRO PORTAFOLIO DE SERVICIOS ======================== */

  .contenedor_tercero_principal {
    background-color: #f8f8f8 !important;
  }

  .servicio_cnp {
    width: 50% !important;
    position: relative;
    float: left;
    padding: 10px !important;
    margin-bottom: 20px;
  }

  .servicio_cnp:hover {
    cursor: pointer;
  }

  .titulo_seccion_servicios {
    color: #1f335e !important;
    text-align: center;
    margin-bottom: 0px;
  }

  .titulo_seccion_servicios h1 {
    font-family: "OpenSans-Bold" !important;
    color: #1f335e !important;
  }

  .contenedor_servicio {
    width: 100% !important;
    float: left !important;
    position: relative !important;
    border-radius: 10px !important;
    background-size: cover;
    height: 120px !important;
    position: relative;
    padding: 10px;
    margin-top: 0px !important;
    margin-bottom: -30px !important;
  }

  .titulo_servicio_cnp p {
    font-size: 16px;
    line-height: 16px;
  }

  /* ======================== FIN CONTENEDOR NUESTRO PORTAFOLIO DE SERVICIOS ======================== */

  /* ======================== CONTENEDOR COTIZADOR DE DICTAMENES ======================== */
  .contenedor_cuarto_principal {
    background-image: url("https://s3.amazonaws.com/cnp.com.co/FONDO+COTIZADOR+DICTAMEN+CNP.png");
    background-color: white;
    background-size: cover;
    position: relative;
  }

  .capa_superpuesta {
    background-color: rgba(255, 255, 255, 0.432);
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
  }

  .contenedor_izquierdo_cuarto {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
  }

  .titulo_izquierdo_cuarto h1 {
    font-family: "OpenSans-Bold";
    color: #002e66 !important;
    line-height: 40px !important;
    display: block;
    text-align: center;
    font-size: 26px;
  }

  .descripcion_izquierdo_cuarto p {
    font-family: "OpenSans-Regular" !important;
    display: block;
    font-size: 18px !important;
    line-height: 16px;
    color: #002e66 !important;
    text-align: justify;

    padding-left: 20px;
    padding-right: 20px;
  }

  /* ======================== FIN CONTENEDOR COTIZADOR DE DICTAMENES ======================== */

  /* ======================== CONTENEDOR MEMBRESIA ======================== */

  .contenedor_cinco_principal {
    background-image: url("https://s3.amazonaws.com/cnp.com.co/FONDO+MEMBRESIA+NUEVO-01.png");
    background-color: white;
    background-size: cover;
    position: relative;
    padding-bottom: 20px !important;
  }

  .contenedor_izquierdo_cinco {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    float: right;
  }

  .titulo_izquierdo_cinco {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
  }

  .titulo_izquierdo_cinco img {
    width: 60%;
  }

  .descripcion_izquierdo_cinco p {
    font-family: "OpenSans-Regular" !important;
    display: block;
    font-size: 30px;
    line-height: 28px;
    color: #002e66 !important;
    float: left;
  }

  .contenedor_derecho_cinco {
    z-index: 2;
    position: relative;
    text-align: justify;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .contenedor_derecho_cinco h1 {
    color: white;
    font-family: "OpenSans-Bold";
    text-align: left;
  }

  .descripcion_derecho_cinco {
    color: white;
    font-size: 20px;
    text-align: justify;
  }

  .titulo_izquierdo_cinco {
    display: block;
  }

  .titulo_derecho_cinco {
    padding-top: 16px;
    text-align: center;
    align-items: center;
    align-content: center;
  }

  .titulo_derecho_cinco h1 {
    text-align: center;
  }

  .descripcion_derecho_cinco p {
    font-family: "OpenSans-Regular";
    font-size: 18px;
    line-height: 16px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .boton_contenedor_derecho_cinco {
    text-align: center;
    justify-content: center;
  }

  .boton_ir_membresia {
    font-family: "OpenSans-Regular" !important;
    border-radius: 18px !important;
    padding-top: 4px !important;
    padding-left: 16px !important;
    padding-right: 16px !important;
    padding-bottom: 4px !important;
    color: #002e66 !important;
    background-color: #f8f8f8 !important;
    font-size: 13px !important;
    margin-top: 12px;
  }

  /* ======================== FIN CONTENEDOR MEMBRESIA ======================== */

  /* ======================== CONTENEDOR AGENDA TU CITA ======================== */

  .contenedor_izquierdo_seis {
    text-align: center;
    align-items: center;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    color: #002e66 !important;
  }

  .titulo_izquierdo_seis h1 {
    font-family: "OpenSans-Bold" !important;
    color: #002e66 !important;
    line-height: 20px;
  }

  .descripcion_izquierdo_seis p {
    padding-top: 8px !important;
    text-align: justify !important;
    font-family: "OpenSans-Regular" !important;
    display: block;
    font-size: 17px !important;
    line-height: 20px !important;
    color: #002e66 !important;
  }

  .contenedor_derecho_seis {
    z-index: 2;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
  }

  .title_day_calendar {
    font-size: 18px;
    font-family: "OpenSans-Regular";
    color: #002e66;
  }

  .fila_dias {
    text-align: center;
    align-content: center;
  }

  #current-month {
    color: #002e66;
    font-size: 18px;
    font-family: "OpenSans-Bold";
    text-transform: uppercase;
  }

  .title_mmonth {
    text-align: justify;
  }

  #calendar-body {
    font-size: 18px !important;
    color: #002e66 !important;
    font-family: "OpenSans-Regular" !important;
    text-align: center;
    align-content: center;
  }

  .current-day {
    align-items: center !important;
    text-align: center !important;
    justify-content: center !important;
  }

  .dia_mes_seleccion {
    font-size: 16px;
  }

  /* ======================== FIN CONTENEDOR AGENDA TU CITA ======================== */

  /* ======================== CONTENEDOR NUESTROS CLIENTES ======================== */
  .titulo_seccion_clientes {
    font-size: 24px;
    font-family: "OpenSans-Bold";
    color: #002e66;
    text-align: center;
    font-size: 30px;
    line-height: 24px;
  }

  .unico-single-box-cliente {
    margin: 20px;
  }

  /* ======================== FIN CONTENEDOR NUESTROS CLIENTES ======================== */
}

@media only screen and (min-width: 376px) and (max-width: 425px) {

  /* SLIDER ENCABEZADOS PAGINA WEB */
  .contenedor_informacion_slider_encabezado {
    display: block;
  }

  .contenedor_color_fondo_encabezado {
    position: absolute;
    height: 100%;
    width: 500px;
    z-index: 2;
  }

  .contenedor_titulo_slider_encabezado {
    display: none;
  }

  .contenedor_descripcion_slider_encabezado {
    border-radius: 10px 10px 0px 0px;
    background-color: white;
    height: 25vh;
    z-index: 2;
    width: 100%;
    float: right;
    position: absolute !important;
    font-size: 60px !important;
    bottom: 0px;
    right: 0px;
    color: #002e66 !important;
    line-height: 50px !important;
    font-family: "OpenSans-Regular" !important;
    text-align: left !important;

    display: flex;
    padding-left: 20px;
    overflow: scroll;
    overflow-x: hidden;
  }

  .titulo_contenedor_slider {
    font-size: 20px;
    width: 100%;
    font-family: "OpenSans-Bold" !important;
  }

  .descripcion_contenedor_slider {
    font-family: "OpenSans-Regular";
    font-size: 13px;
    padding-top: 10px;
  }

  .descripcion_contenedor_slider p {
    line-height: 15px !important;
  }

  .boton_slider_encabezado {
    position: absolute;
    top: 0px;
    text-align: right;
    font-size: 12px;
  }

  .boton_slider_encabezado a {
    font-size: 10px;
    margin-right: 10px;
  }

  /* Tamaño del scroll */
  .contenedor_texto::-webkit-scrollbar {
    width: 8px;
    background: #002e661f;
  }

  /* Estilos barra (thumb) de scroll */
  .contenedor_texto::-webkit-scrollbar-thumb {
    background: #002e661f;
    border-radius: 4px;
  }

  .contenedor_texto::-webkit-scrollbar-thumb:active {
    background-color: 002e661f;
  }

  .contenedor_texto::-webkit-scrollbar-thumb:hover {
    background: #002e661f;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
  }

  /* Estilos track de scroll */
  .contenedor_texto::-webkit-scrollbar-track {
    background: #002e6600;
    border-radius: 4px;
  }

  .contenedor_texto::-webkit-scrollbar-track:hover,
  .contenedor_texto::-webkit-scrollbar-track:active {
    background: #002e661f;
  }

  .owl-carousel .owl-item {
    display: block;
    width: auto;
    height: 100vh;
    margin: 0 auto;
  }

  .owl-dots {
    display: none;
  }

  /* FIN SLIDER ENCABEZADOS PAGINA WEB */

  /* ======================== CONTENEDOR QUE ES CNP ======================== */

  .contenedor_segundario_principal {
    background-image: url("https://s3.amazonaws.com/cnp.com.co/FONDO+BENEFICIOS-VIDEO-01.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: white;
  }

  .beneficio_uno,
  .beneficio_dos,
  .beneficio_tres,
  .beneficio_cuatro,
  .beneficio_cinco,
  .beneficio_seis {
    display: none;
    margin-top: 40px !important;
  }

  .contenedor_izquierdo_segundario {
    font-family: "OpenSans-Bold";
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .contenedor_izquierdo_segundario h1 {
    color: #002e66 !important;
    font-size: 24px;
    line-height: 22px !important;
  }

  /* ======================== FIN CONTENEDOR QUE ES CNP ======================== */

  /* ======================== CONTENEDOR NUESTRO PORTAFOLIO DE SERVICIOS ======================== */

  .contenedor_tercero_principal {
    background-color: #f8f8f8 !important;
  }

  .servicio_cnp {
    width: 50% !important;
    position: relative;
    float: left;
    padding: 10px !important;
    margin-bottom: 20px;
  }

  .servicio_cnp:hover {
    cursor: pointer;
  }

  .titulo_seccion_servicios {
    color: #1f335e !important;
    text-align: center;
    margin-bottom: 0px;
  }

  .titulo_seccion_servicios h1 {
    font-family: "OpenSans-Bold" !important;
    color: #1f335e !important;
  }

  .contenedor_servicio {
    width: 100% !important;
    float: left !important;
    position: relative !important;
    border-radius: 10px !important;
    background-size: cover;
    height: 120px !important;
    position: relative;
    padding: 10px;
    margin-top: 0px !important;
    margin-bottom: -30px !important;
  }

  .titulo_servicio_cnp p {
    font-size: 16px;
    line-height: 16px;
  }

  /* ======================== FIN CONTENEDOR NUESTRO PORTAFOLIO DE SERVICIOS ======================== */

  /* ======================== CONTENEDOR COTIZADOR DE DICTAMENES ======================== */
  .contenedor_cuarto_principal {
    background-image: url("https://s3.amazonaws.com/cnp.com.co/FONDO+COTIZADOR+DICTAMEN+CNP.png");
    background-color: white;
    background-size: cover;
    position: relative;
  }

  .capa_superpuesta {
    background-color: rgba(255, 255, 255, 0.432);
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
  }

  .contenedor_izquierdo_cuarto {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
  }

  .titulo_izquierdo_cuarto h1 {
    font-family: "OpenSans-Bold";
    color: #002e66 !important;
    line-height: 40px !important;
    display: block;
    text-align: center;
    font-size: 26px;
  }

  .descripcion_izquierdo_cuarto p {
    font-family: "OpenSans-Regular" !important;
    display: block;
    font-size: 18px !important;
    line-height: 16px;
    color: #002e66 !important;
    text-align: justify;

    padding-left: 20px;
    padding-right: 20px;
  }

  /* ======================== FIN CONTENEDOR COTIZADOR DE DICTAMENES ======================== */

  /* ======================== CONTENEDOR MEMBRESIA ======================== */

  .contenedor_cinco_principal {
    background-image: url("https://s3.amazonaws.com/cnp.com.co/FONDO+MEMBRESIA+NUEVO-01.png");
    background-color: white;
    background-size: cover;
    position: relative;
    padding-bottom: 20px !important;
  }

  .contenedor_izquierdo_cinco {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    float: right;
  }

  .titulo_izquierdo_cinco {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
  }

  .titulo_izquierdo_cinco img {
    width: 60%;
  }

  .descripcion_izquierdo_cinco p {
    font-family: "OpenSans-Regular" !important;
    display: block;
    font-size: 30px;
    line-height: 28px;
    color: #002e66 !important;
    float: left;
  }

  .contenedor_derecho_cinco {
    z-index: 2;
    position: relative;
    text-align: justify;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .contenedor_derecho_cinco h1 {
    color: white;
    font-family: "OpenSans-Bold";
    text-align: left;
  }

  .descripcion_derecho_cinco {
    color: white;
    font-size: 20px;
    text-align: justify;
  }

  .titulo_izquierdo_cinco {
    display: block;
  }

  .titulo_derecho_cinco {
    padding-top: 16px;
    text-align: center;
    align-items: center;
    align-content: center;
  }

  .titulo_derecho_cinco h1 {
    text-align: center;
  }

  .descripcion_derecho_cinco p {
    font-family: "OpenSans-Regular";
    font-size: 18px;
    line-height: 16px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .boton_contenedor_derecho_cinco {
    text-align: center;
    justify-content: center;
  }

  .boton_ir_membresia {
    font-family: "OpenSans-Regular" !important;
    border-radius: 18px !important;
    padding-top: 4px !important;
    padding-left: 16px !important;
    padding-right: 16px !important;
    padding-bottom: 4px !important;
    color: #002e66 !important;
    background-color: #f8f8f8 !important;
    font-size: 13px !important;
    margin-top: 12px;
  }

  /* ======================== FIN CONTENEDOR MEMBRESIA ======================== */

  /* ======================== CONTENEDOR AGENDA TU CITA ======================== */

  .contenedor_izquierdo_seis {
    text-align: center;
    align-items: center;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    color: #002e66 !important;
  }

  .titulo_izquierdo_seis h1 {
    font-family: "OpenSans-Bold" !important;
    color: #002e66 !important;
    line-height: 20px;
  }

  .descripcion_izquierdo_seis p {
    padding-top: 8px !important;
    text-align: justify !important;
    font-family: "OpenSans-Regular" !important;
    display: block;
    font-size: 17px !important;
    line-height: 20px !important;
    color: #002e66 !important;
  }

  .contenedor_derecho_seis {
    z-index: 2;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
  }

  .title_day_calendar {
    font-size: 18px;
    font-family: "OpenSans-Regular";
    color: #002e66;
  }

  .fila_dias {
    text-align: center;
    align-content: center;
  }

  #current-month {
    color: #002e66;
    font-size: 18px;
    font-family: "OpenSans-Bold";
    text-transform: uppercase;
  }

  .title_mmonth {
    text-align: justify;
  }

  #calendar-body {
    font-size: 18px !important;
    color: #002e66 !important;
    font-family: "OpenSans-Regular" !important;
    text-align: center;
    align-content: center;
  }

  .current-day {
    align-items: center !important;
    text-align: center !important;
    justify-content: center !important;
  }

  .dia_mes_seleccion {
    font-size: 16px;
  }

  /* ======================== FIN CONTENEDOR AGENDA TU CITA ======================== */

  /* ======================== CONTENEDOR NUESTROS CLIENTES ======================== */
  .titulo_seccion_clientes {
    font-size: 24px;
    font-family: "OpenSans-Bold";
    color: #002e66;
    text-align: center;
    font-size: 30px;
    line-height: 24px;
  }

  .unico-single-box-cliente {
    margin: 20px;
  }

  /* ======================== FIN CONTENEDOR NUESTROS CLIENTES ======================== */
}

@media only screen and (min-width: 426px) and (max-width: 768px) {
  .encabezado-slider {
    height: 50vh;
  }

  .titulo_contenedor_slider {
    font-size: 30px;
  }

  .descripcion_contenedor_slider {
    font-size: 16px;
  }

  .boton_slider_encabezado {
    position: absolute;
    bottom: 10px;
    font-size: 16px;
  }

  .contenedor_izquierdo_segundario h1 {
    font-size: 30px;
    line-height: 30px !important;
  }

  .servicio_cnp {
    padding: 5px !important;
  }

  .descripcion_beneficio p {
    font-size: 13px;
    line-height: 14px;
  }

  .contenedor_servicio {
    height: 140px !important;
  }

  .contenedor_servicio p {
    line-height: 15px;
    font-size: 15px !important;
  }

  .descripcion_derecho_cinco p {
    font-size: 22px;
    line-height: 20px;
  }

  .boton_contenedor_derecho_cinco {
    text-align: center;
    padding-bottom: 10px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .encabezado-slider {
    height: 70vh;
  }
}

@media only screen and (min-width: 1025px) and (max-width: 5000px) {
  .encabezado-slider {
    height: 60vh;
  }
}