.contenedor_principal_texto {
  background-color: #002e66;
  height: 40vh;
}

.contenido_descripcion_banner {
  bottom: 10px;
  position: absolute;
  color: white;
  font-size: 36px;
}

.descripcion_texto_encabezado {
  margin-top: 6px;
  font-size: 16px;
  text-align: justify;
  font-family: "OpenSans-Light";
}

/* ======================== CONTENEDOR NUESTRO PORTAFOLIO DE SERVICIOS ======================== */

.contenedor_tercero_principal {
  background-color: #f8f8f8 !important;
}

.servicio_cnp {
  padding: 20px !important;
}

.servicio_cnp:hover {
  cursor: pointer;
}

.titulo_seccion_servicios {
  color: #1f335e !important;
  text-align: center;
  margin-bottom: 5px;
}

.titulo_seccion_servicios h1 {
  font-family: "OpenSans-Bold" !important;
  color: #1f335e !important;
}

.contenedor_servicio {
  border-radius: 10px !important;
  background-size: cover;
  height: 200px !important;
  position: relative;
  padding: 10px;
}

.capa_superior_servicio {
  border-radius: 10px !important;

  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #002e66a2; /* Fondo semi-transparente para ilustrar la superposición */
  z-index: 1; /* Establece la capa por encima del contenido del div */
}

.contenedor_servicios {
  margin-top: 20px !important;
}

.titulo_servicio_cnp {
  z-index: 2;
  position: relative;
  color: white;
  height: 100%;

  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.titulo_servicio_cnp p {
  font-family: "OpenSans-Bold";
  font-size: 20px;
  line-height: 22px;
}

/* ======================== FIN CONTENEDOR NUESTRO PORTAFOLIO DE SERVICIOS ======================== */

/* ======================= CODIGO QUERY CSS ======================= */

@media only screen and (min-width: 100px) and (max-width: 320px) {
  .titulo_texto_encabezado {
    font-size: 30px;
    color: white;
  }

  .contenedor_principal_texto {
    padding-top: 10% !important;
    padding-bottom: 10% !important;
    height: 100%;
  }

  .contenido_descripcion_banner {
    margin-top: 20%;
  }

  .descripcion_texto_encabezado {
    font-size: 14px;
    font-family: "OpenSans-Light";
    color: white;
  }
}

@media only screen and (min-width: 321px) and (max-width: 375px) {
  .titulo_texto_encabezado {
    font-size: 30px;
    color: white;
  }

  .contenedor_principal_texto {
    padding-top: 10% !important;
    padding-bottom: 10% !important;
    height: 100%;
  }

  .contenido_descripcion_banner {
    margin-top: 20%;
  }

  .descripcion_texto_encabezado {
    font-size: 14px;
    font-family: "OpenSans-Light";
    color: white;
  }
}

@media only screen and (min-width: 376px) and (max-width: 425px) {
  .titulo_texto_encabezado {
    font-size: 30px;
    color: white;
  }

  .contenedor_principal_texto {
    padding-top: 10% !important;
    padding-bottom: 10% !important;
    height: 100%;
  }

  .contenido_descripcion_banner {
    margin-top: 20%;
  }

  .descripcion_texto_encabezado {
    font-size: 14px;
    font-family: "OpenSans-Light";
    color: white;
  }
}

@media only screen and (min-width: 426px) and (max-width: 768px) {
  .titulo_texto_encabezado {
    font-size: 30px;
    color: white;
  }

  .contenedor_principal_texto {
    padding-top: 5% !important;
    padding-bottom: 5% !important;
    height: 100%;
  }

  .contenido_descripcion_banner {
    margin-top: 20%;
  }

  .descripcion_texto_encabezado {
    font-size: 14px;
    font-family: "OpenSans-Light";
    color: white;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .titulo_texto_encabezado {
    font-size: 30px;
    color: white;
  }

  .contenedor_principal_texto {
    padding-top: 5% !important;
    padding-bottom: 5% !important;
    height: 100%;
  }

  .contenido_descripcion_banner {
    margin-top: 20%;
  }

  .descripcion_texto_encabezado {
    font-size: 14px;
    font-family: "OpenSans-Light";
    color: white;
  }
}

@media only screen and (min-width: 1025px) and (max-width: 5000px) {
  .titulo_texto_encabezado {
    font-size: 30px;
    color: white;
  }

  .contenedor_principal_texto {
    padding-top: 5% !important;
    padding-bottom: 5% !important;
    height: 100%;
  }

  .contenido_descripcion_banner {
    margin-top: 20%;
  }

  .descripcion_texto_encabezado {
    font-size: 14px;
    font-family: "OpenSans-Light";
    color: white;
  }
}
