@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap");
:root {
  --color-white-100: hsl(206, 5%, 98%);
  --color-white-200: hsl(206, 5%, 90%);
  --color-white-300: hsl(206, 5%, 80%);
  --color-white-400: hsl(206, 5%, 65%);
  --color-white-500: hsl(206, 5%, 50%);
  --color-white-600: hsl(206, 5%, 35%);
  --color-black-100: hsl(213, 20%, 9%);
  --color-black-200: hsl(213, 23%, 8%);
  --color-black-300: hsl(214, 21%, 6%);
  --color-black-400: hsl(210, 21%, 6%);
  --color-black-500: hsl(216, 22%, 4%);
  --color-black-600: hsl(220, 18%, 3%);
  --color-black-700: hsl(220, 27%, 2%);
  --color-black-800: hsl(180, 20%, 1%);
  --color-blue-100: hsl(214, 95%, 93%);
  --color-blue-200: hsl(213, 97%, 87%);
  --color-blue-300: hsl(212, 96%, 78%);
  --color-blue-400: hsl(213, 94%, 68%);
  --color-blue-500: hsl(217, 91%, 60%);
  --color-blue-600: hsl(221, 83%, 53%);
  --color-blue-700: hsl(224, 76%, 48%);
  --color-blue-800: hsl(226, 71%, 40%);
  --color-blue-900: hsl(224, 64%, 33%);
  --shadow-small: 0 1px 3px 0 rgba(0, 0, 0, 0.1),
    0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-medium: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-large: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  list-style-type: none;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

.menu-icon {
  display: none;
}

.header {
  background-color: #002e66;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: auto;
  margin: 0 auto;
  transition: all 0.35s ease;
  font-family: "OpenSans-Regular";
}

.header.on-scroll {
  background: #002e66;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.menu-link {
  color: white !important;
  text-decoration: none !important;
}

main {
  overflow: hidden;
}

.header.on-scroll {
  background: #002e66;
  box-shadow: var(--shadow-medium);
}

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  column-gap: 1rem;
  width: 100%;
  height: 4.25rem;
  margin: 0 auto;
  position: relative;
}

.brand {
  width: 20%;
  float: right;
  position: relative;
}

.brand img {
  width: 100%;
}

.menu {
  width: 60%;
  float: right;
  position: relative;
  text-align: center;
}

.menu-inner {
  list-style: none; /* quita los puntos de la lista */
  margin: 0;
  padding: 0;
}

.menu-item {
  text-align: center;
  display: inline-block;
  padding-left: 10px;
}

.menu_boton {
  font-family: "OpenSans-Regular" !important;
  width: 15% !important;
  float: right !important;
  position: relative !important;
  background-color: #00469b !important;
  color: white;
  text-decoration: none;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 20px;
  text-align: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.menu_boton:hover{
  cursor: pointer;
}

.menu_boton a {
  color: white !important;
}

/* =================================== FOOTER =================================== */

.contenedor_principal_footer {
  background-color: #002e66;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.copyright_principal_footer {
  background-color: #000f22;
  position: relative;
  bottom: 0px;
  width: 100%;
  text-align: center;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 13px;
}

.copyright_principal_footer a {
  color: white;
  font-family: "OpenSans-Regular";
}

.opcion_uno_principal_footer img {
  width: 100%;
}

.descripcion_cnp_principal_footer {
  color: white;
  font-family: "OpenSans-Regular";
}

.titulo_opcion_principal_footer {
  color: white;
  font-family: "OpenSans-Bold";
  margin-bottom: 10px;
}

.opcion_dos_principal_footer ul,
.opcion_tres_principal_footer ul,
.opcion_cuatro_principal_footer ul {
  font-family: "OpenSans-Light";
  color: white;
  padding: 0px;
  font-size: 14px;
}

.opcion_cinco_principal_footer ul {
  font-family: "OpenSans-Light";
  color: white;
  padding: 0px;
  font-size: 14px;
}

.opcion_cinco_principal_footer ul li {
  padding-bottom: 6px;
}

/* ======================= CODIGO QUERY CSS ======================= */

@media only screen and (min-width: 100px) and (max-width: 320px) {
  .navbar {
    padding: 0px !important;
  }

  .menu-icon {
    padding-top: 20px !important;
    display: block;
    width: 10%;
    height: 30px;
    position: relative;
    cursor: pointer;
    transition: transform 0.5s;
  }

  .menu-icon span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: #ffffff;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: all 0.5s ease-out;
  }

  .menu-icon span:nth-child(1) {
    top: 0px;
  }

  .menu-icon span:nth-child(2),
  .menu-icon span:nth-child(3) {
    top: 8px;
  }

  .menu-icon span:nth-child(3) {
    top: 16px;
  }

  .menu-icon.open span:nth-child(1) {
    top: 12px;
    width: 0%;
    left: 50%;
  }

  .menu-icon.open span:nth-child(2) {
    transform: rotate(45deg);
  }

  .menu-icon.open span:nth-child(3) {
    top: 10px !important;
    transform: rotate(-45deg);
  }

  .menu {
    position: absolute;
    top: 60px;
    left: -300px;
    width: 300px;
    background-color: #002e66;
    padding: 20px;
    list-style: none;
    opacity: 0;
    transition: opacity 0.3s ease-out, left 0.3s ease-out;
    z-index: 1;
  }

  .menu.open {
    border-radius: 10px;
    opacity: 1;
    left: 0;
  }

  .menu.open > .menu-inner > .menu-item {
    display: block !important;
  }

  .brand {
    width: 40%;
    position: relative;
    float: left;
  }

  .brand img {
    width: 100%;
  }

  .menu_boton {
    width: 35% !important;
    position: relative;
    float: left;
    font-size: 12px;
    margin: 0px !important;
  }

  .opcion_entrar {
    width: 100%;
  }

  .copyright_principal_footer {
    height: 45px;
  }

  .copyright_principal_footer a {
    font-size: 10px;
  }

  .opcion_uno_principal_footer {
    text-align: center;
    margin-bottom: 18px;
  }

  .opcion_uno_principal_footer img{
    width: 80%;
  }

  .titulo_opcion_principal_footer {
    font-size: 15px;
  }

  .opcion_dos_principal_footer,
  .opcion_tres_principal_footer,
  .opcion_cuatro_principal_footer {
    text-align: left;
  }

  .opcion_dos_principal_footer ul li,
  .opcion_tres_principal_footer ul li,
  .opcion_cuatro_principal_footer ul li,
  .opcion_cinco_principal_footer ul li {
    font-size: 11px;
  }
}

@media only screen and (min-width: 321px) and (max-width: 375px) {
  .navbar {
    padding: 0px !important;
  }

  .menu-icon {
    padding-top: 20px !important;
    display: block;
    width: 10%;
    height: 30px;
    position: relative;
    cursor: pointer;
    transition: transform 0.5s;
  }

  .menu-icon span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: #ffffff;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: all 0.5s ease-out;
  }

  .menu-icon span:nth-child(1) {
    top: 0px;
  }

  .menu-icon span:nth-child(2),
  .menu-icon span:nth-child(3) {
    top: 8px;
  }

  .menu-icon span:nth-child(3) {
    top: 16px;
  }

  .menu-icon.open span:nth-child(1) {
    top: 12px;
    width: 0%;
    left: 50%;
  }

  .menu-icon.open span:nth-child(2) {
    transform: rotate(45deg);
  }

  .menu-icon.open span:nth-child(3) {
    top: 10px !important;
    transform: rotate(-45deg);
  }

  .menu {
    position: absolute;
    top: 60px;
    left: -300px;
    width: 350px;
    background-color: #002e66;
    padding: 20px;
    list-style: none;
    opacity: 0;
    transition: opacity 0.3s ease-out, left 0.3s ease-out;
    z-index: 1;
  }

  .menu.open {
    border-radius: 10px;
    opacity: 1;
    left: 0;
  }

  .menu.open > .menu-inner > .menu-item {
    display: block !important;
  }

  .brand {
    width: 40%;
    position: relative;
    float: left;
  }

  .brand img {
    width: 100%;
  }

  .menu_boton {
    width: 35% !important;
    position: relative;
    float: left;
    font-size: 12px;
    margin: 0px !important;
  }

  .opcion_entrar {
    width: 100%;
  }


  .copyright_principal_footer {
    height: 45px;
  }

  .copyright_principal_footer a {
    font-size: 10px;
  }

  .opcion_uno_principal_footer {
    text-align: center;
    margin-bottom: 18px;
  }

  .opcion_uno_principal_footer img{
    width: 80%;
  }

  .titulo_opcion_principal_footer {
    font-size: 15px;
  }

  .opcion_dos_principal_footer,
  .opcion_tres_principal_footer,
  .opcion_cuatro_principal_footer {
    text-align: left;
  }

  .opcion_dos_principal_footer ul li,
  .opcion_tres_principal_footer ul li,
  .opcion_cuatro_principal_footer ul li,
  .opcion_cinco_principal_footer ul li {
    font-size: 11px;
  }
}

@media only screen and (min-width: 376px) and (max-width: 425px) {
  .navbar {
    padding: 0px !important;
  }

  .menu-icon {
    padding-top: 20px !important;
    display: block;
    width: 10%;
    height: 30px;
    position: relative;
    cursor: pointer;
    transition: transform 0.5s;
  }

  .menu-icon span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: #ffffff;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: all 0.5s ease-out;
  }

  .menu-icon span:nth-child(1) {
    top: 0px;
  }

  .menu-icon span:nth-child(2),
  .menu-icon span:nth-child(3) {
    top: 8px;
  }

  .menu-icon span:nth-child(3) {
    top: 16px;
  }

  .menu-icon.open span:nth-child(1) {
    top: 12px;
    width: 0%;
    left: 50%;
  }

  .menu-icon.open span:nth-child(2) {
    transform: rotate(45deg);
  }

  .menu-icon.open span:nth-child(3) {
    top: 10px !important;
    transform: rotate(-45deg);
  }

  .menu {
    position: absolute;
    top: 60px;
    left: -300px;
    width: 100% !important;
    background-color: #002e66;
    padding: 20px;
    list-style: none;
    opacity: 0;
    transition: opacity 0.3s ease-out, left 0.3s ease-out;
    z-index: 1;
  }

  .menu.open {
    border-radius: 10px;
    opacity: 1;
    left: 0;
  }

  .menu.open > .menu-inner > .menu-item {
    display: block !important;
  }

  .brand {
    width: 40%;
    position: relative;
    float: left;
  }

  .brand img {
    width: 100%;
  }

  .menu_boton {
    width: 35% !important;
    position: relative;
    float: left;
    font-size: 12px;
    margin: 0px !important;
  }

  .opcion_entrar {
    width: 100%;
  }


  .copyright_principal_footer {
    height: 45px;
  }

  .copyright_principal_footer a {
    font-size: 10px;
  }

  .opcion_uno_principal_footer {
    text-align: center;
    margin-bottom: 18px;
  }

  .opcion_uno_principal_footer img{
    width: 80%;
  }

  .titulo_opcion_principal_footer {
    font-size: 15px;
  }

  .opcion_dos_principal_footer,
  .opcion_tres_principal_footer,
  .opcion_cuatro_principal_footer {
    text-align: left;
  }

  .opcion_dos_principal_footer ul li,
  .opcion_tres_principal_footer ul li,
  .opcion_cuatro_principal_footer ul li,
  .opcion_cinco_principal_footer ul li {
    font-size: 11px;
  }
}

@media only screen and (min-width: 426px) and (max-width: 768px) {
  .navbar {
    padding: 0px !important;
  }

  .menu {
    margin: 0px !important;
    width: 55% !important;
  }

  .menu-item {
    text-align: center;
    display: inline-block;
    padding-left: 10px;
    font-size: 14px;
  }

  .brand {
    width: 20%;
    position: relative;
    float: left;
    margin: 0px;
  }

  .brand img {
    width: 100%;
  }

  .menu_boton {
    width: 20% !important;
    position: relative;
    float: left;
    font-size: 12px;
    margin: 0px !important;
  }

  .opcion_entrar {
    width: 15%;
  }


  .copyright_principal_footer {
    height: 45px;
  }

  .copyright_principal_footer a {
    font-size: 10px;
  }

  .opcion_uno_principal_footer {
    text-align: center;
    margin-bottom: 18px;
  }

  .opcion_uno_principal_footer img{
    width: 80%;
  }

  .titulo_opcion_principal_footer {
    font-size: 15px;
  }

  .opcion_dos_principal_footer,
  .opcion_tres_principal_footer,
  .opcion_cuatro_principal_footer {
    text-align: left;
  }

  .opcion_dos_principal_footer ul li,
  .opcion_tres_principal_footer ul li,
  .opcion_cuatro_principal_footer ul li,
  .opcion_cinco_principal_footer ul li {
    font-size: 11px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
