.icono_usuario {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  justify-content: center;
  display: flex;
}

.icono_usuario img {
  width: 50%;
}

.capa {
  text-align: center;
  width: 48%;
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  height: 90%;
  margin: o auto;

  display: none;
  align-items: center;
  justify-content: center;
  font-family: "OpenSans-Regular";
  font-size: 13px;
}

.capa p {
  line-height: 12px !important;
}

.capa_active {
  text-align: center;
  width: 48%;
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  height: 90%;
  margin: o auto;

  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "OpenSans-Regular";
  font-size: 13px;
}

.capa_inactive {
  display: none;
}

.botones_opciones {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}

/* Informacion de contacto */

.titulo_seccion {
  font-family: "OpenSans-Regular";
  font-size: 20px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.274);
}

.formulario_profesional {
  margin-top: 10px;
  color: black;
  font-family: "OpenSans-Regular";
}

/* Información del usuario */

.titulo_seccion_usuario {
  font-family: "OpenSans-Regular";
  font-size: 14px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.274);
}

.formulario_usuario {
  margin-top: 10px;
  color: black;
  font-family: "OpenSans-Regular";
}

/* ============================ APARTADO DONDE SE HACE EL MEDIA QUERY ============================ */

@media screen and (min-width: 0px) and (max-width: 320px) {
  
}

@media screen and (min-width: 321px) and (max-width: 375px) {
  
}

@media screen and (min-width: 376px) and (max-width: 425px) {
 
}

@media screen and (min-width: 426px) and (max-width: 768px) {
  
}

/* Large devices (laptops/desktops, 992px and up) */
@media screen and (min-width: 769px) and (max-width: 1024px) {
  
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1025px) {
 
}
