.menu_navegacion_linea_tiempo {
  padding: 0px !important;
  border-bottom: 1px solid rgba(128, 128, 128, 0.315);
}

/*002e66a2*/
.opcion_login {
  background-color: #1f335e;
}

.active {
  padding-top: 6px;
  padding-bottom: 6px;
  font-family: "OpenSans-Regular";
  text-align: center;
  color: white;
  background-color: #1f335e;
}

.opcion_login {
  border-radius: 10px 0px 0px 0px;
}

.inactive {
  padding-top: 6px;
  padding-bottom: 6px;
  font-family: "OpenSans-Regular";
  text-align: center;
  color: rgba(0, 0, 0, 0.37);
  background-color: #002e660a;
}

.opcion_pago_membresia {
  border-radius: 0px 10px 0px 0px;
  border-left: 1px solid rgba(128, 128, 128, 0.315);
}

.opcion_login.active,
.opcion_plan_membresia.active {
  cursor: pointer;
}

.detallado_plan_suscripcion {
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.5s ease-out;

}

.detallado_plan_suscripcion:hover{
  transform: translate(0px, -6px);
  transition: transform 0.5s ease-in;
}

.valor_plan_suscripcion {
  position: absolute;
  top: 10px;
  left: 10px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  color: white;
  text-align: center;
  font-family: "OpenSans-Bold";
  font-size: 13px;
  z-index: 2;
  background-color: black;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.imagen_plan_suscripcion {
  position: relative;
  border-radius: 10px 10px 0px 0px;
  background-size: 100% 100%;
  height: 120px;
}

.titulo_plan_suscripcion {
  font-family: "OpenSans-Bold";
  padding-top: 5px;
  text-align: center;
  color: #1f335e;
}

.titulo_plan_suscripcion p {
  border-bottom: 1px solid rgba(128, 128, 128, 0.281);
  padding-bottom: 7px;
}

.descripcion_plan_suscripcion {
  padding-left: 6px;
  padding-right: 6px;
  font-family: "OpenSans-Regular";
  font-size: 14px;
  color: #1f335e;
  padding-bottom: 4px;
}

.descripcion_plan_suscripcion ul {
  padding: 0px;
}
