.loading_modal{
  text-align: center;
  align-items: center;
}

/* SECCION INDICADORES */

.single-box-indicador {
  height: auto;
  overflow: scroll;
  border-right: 1px solid #ddd;
  overflow: hidden;
  background-color: #fff;
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 7px;
  padding-bottom: 7px;
}

.titulo_slider_indicador {
  font-family: "OpenSans-Regular" !important;
  font-weight: bold !important;
  color: #000000;
  font-size: 10px;
  padding-left: 0px !important;
  padding-right: 2px !important;
  padding-top: 2px !important;
  padding-bottom: 2px !important;
  margin: 0 auto;
}

.img-area-indicador {
  padding-top: 4px !important;
  padding-left: 4px !important;
}

.move-animation {
  margin-left: 14px !important;
}

.descripcion_slider_servicio {
  font-family: "OpenSans-Regular" !important;
  font-weight: bold !important;
  color: grey;
  font-size: 10px;
  padding-top: 4px !important;
}
.single-box-indicador:hover img {
  cursor: pointer;
}

.team-slider-indicador .owl-dots {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -60px;
  width: 100%;
}

.team-slider-indicador button.owl-dot {
  display: none;
  width: 16px;
  height: 16px;
  display: inline-block;
  margin: 0 6px;
  text-align: center;
  background-color: #262626;
}

.indicados_unico {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  border-right: 1px solid rgba(128, 128, 128, 0.507);
}

.valor_indicador {
  font-family: "OpenSans-Regular" !important;
  padding: 5 !important;
  line-height: 16px;
  text-align: center;
  font-size: 14px;
}

.valor_indicador small {
  font-size: 10px;
}

.texto_indicador {
  font-size: 12px;
  font-family: "OpenSans-Bold";
  line-height: 16px;
  padding: 5 !important;
}

.texto_indicador small {
  font-family: "OpenSans-Regular" !important;
  line-height: 10px;
}

.negative {
  font-size: 12px;
  color: red !important;
}

.positive {
  font-size: 12px;
  color: green !important;
}

.informacion_usuario {
  color: #002e66;
}

.informacion_usuario b {
  font-weight: bold;
  font-size: 22px;
}

.informacion_fecha {
  color: grey;
}

/* Texto banner */
.texto_banner {
  padding: 15px;
  text-align: center;
  font-family: "OpenSans-Regular";
}

.texto_banner .card {
  padding: 10px;
}

/* FIN SECCION INDICADORES */

/* SECCIÓN QUE QUIERES HACER HOY */

.titulo_que_quieres_hoy {
  font-family: "OpenSans-Regular";
}

.titulo_que_quieres_hoy p {
  padding: 10px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.349);
}

.opciones_que_quieres_hoy {
  padding-bottom: 10px;
}

.single-box-hacer_hoy {
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
  position: relative;
}

.single-box-hacer_hoy > b{
  color: #002e66;
}

.single-box-hacer_hoy img {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #002e66;
}

.single-box-hacer_hoy p {
  position: absolute;
  top: 0px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.capa {
  font-family: "OpenSans-Regular";
  width: 95%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  height: 100%;

  text-align: center;
}

.capa p {
  text-align: center;
  font-family: "OpenSans-Regular";
  line-height: 14px;
  padding-left: 16px;
  padding-right: 16px;

  padding-top: 25%;
}

.titulo_slider_hacer_hoy {
  font-family: "OpenSans-Regular" !important;
  font-weight: bold !important;
  color: #000000;
  font-size: 10px;
  padding-left: 0px !important;
  padding-right: 2px !important;
  padding-top: 2px !important;
  padding-bottom: 2px !important;
  margin: 0 auto;
}

.img-area-hacer_hoy {
  padding-top: 4px !important;
  padding-left: 4px !important;
}

.move-animation {
  margin-left: 14px !important;
}

.descripcion_slider_servicio {
  font-family: "OpenSans-Regular" !important;
  font-weight: bold !important;
  color: grey;
  font-size: 10px;
  padding-top: 4px !important;
}
.single-box-hacer_hoy:hover img {
  cursor: pointer;
}

.team-slider-hacer_hoy .owl-dots {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -60px;
  width: 100%;
}

.team-slider-hacer_hoy button.owl-dot {
  display: none;
  width: 16px;
  height: 16px;
  display: inline-block;
  margin: 0 6px;
  text-align: center;
  background-color: #262626;
}

.informacion_membresia {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  position: relative;
}

#circle_membresia {
  position: absolute;
  width: 60%;
  height: 100%;
  border-radius: 50%;
  background: #002e66;
}

.informacion_membresia img {
  z-index: 3;
  width: 90%;
}
/* FIN QUE QUIERES HACER HOY */

/* SECCIÓN TUS DICTAMENTES */

.titulo_general_dictamen {
  font-family: "OpenSans-Regular";
  color: grey;
}

.single-box-dictamen {
  height: auto;
  overflow: scroll;
  margin-right: 10px;
  border: 1px solid #ddd;
  overflow: hidden;
  background-color: #fff;
  padding-bottom: 4px;
}

.titulo_slider_dictamen {
  font-family: "OpenSans-Regular" !important;
  font-weight: bold !important;
  color: #000000;
  font-size: 10px;
  padding-top: 4px !important;
}

.img-area-dictamen {
  padding-top: 4px !important;
  padding-left: 4px !important;
}

.move-animation {
  margin-left: 14px !important;
}

.descripcion_slider_servicio {
  font-family: "OpenSans-Regular" !important;
  font-weight: bold !important;
  color: grey;
  font-size: 10px;
  padding-top: 4px !important;
}
.single-box-dictamen:hover img {
  cursor: pointer;
}

.team-slider-dictamen .owl-dots {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -60px;
  width: 100%;
}

.team-slider-dictamen button.owl-dot {
  display: none;
  width: 16px;
  height: 16px;
  display: inline-block;
  margin: 0 6px;
  text-align: center;
  background-color: #262626;
}

/* FIN SECCION DICTAMENES */

/* SECCION TAREAS */
.contenedor_tareas {
  margin-top: 2%;
}

.titulo_tareas p {
  font-family: "OpenSans-Regular";
  color: black;
  padding-top: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.356);
}

.input-with-icon {
  position: relative;
  display: inline-block;
}

.input-with-icon input[type="text"] {
  padding-left: 30px;
  width: 100%; /* Ajusta este valor según tus necesidades */
  height: 32px; /* Ajusta este valor según tus necesidades */
  box-sizing: border-box; /* Incluye el borde y el padding en el ancho */
  border: 1px solid #ccc;
}

.input-with-icon svg {
  position: absolute;
  left: 25px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  color: #aaa;
}

.icono_agregar svg {
  padding: 5px;
  width: 40px;
  height: 30px;
  color: white;
  background-color: #002e66;
  border-radius: 15%;
}

.icono_agregar:hover {
  cursor: pointer;
}

.contenedores_todo {
  margin-top: 2%;
  margin-bottom: 2%;
  padding-left: 2% !important;
  padding-right: 2% !important;
}

.contenedor_principal_todo_unica {
  padding: 4px !important;
}

.contenedor_principal_todo_unica:hover {
  cursor: pointer;
}

.titulo_todo {
  padding-top: 6px;
  padding-left: 0px !important;
  padding-bottom: 0px !important;
  font-family: "OpenSans-Bold";
  color: black;
  font-size: 12px;
}

.titulo_todo p {
  line-height: 13px;
  padding-bottom: 0px !important;
  margin-bottom: 0px !important;
}

.descripcion_todo {
  font-family: "OpenSans-Regular";
  color: grey;
  font-size: 10px;
  padding-top: 0px !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
  padding-bottom: 0px !important;
}

.descripcion_todo p {
  margin-top: 2%;
  text-align: justify;
  line-height: 13px;
}

.contenedor_boton_more {
  text-align: right;
}

.contenedor_boton_more p {
  font-family: "OpenSans-Bold";
  color: #002e66;
  cursor: pointer;
}

/* FIN SECCION TAREAS */

/* INICIO SECCION TUS FAVORITOS */

.titulo_general_favorito {
  font-family: "OpenSans-Regular";
  color: grey;
}

.single-box-favorito {
  height: auto;
  overflow: scroll;
  margin-right: 10px;
  border: 1px solid #ddd;
  overflow: hidden;
  background-color: #fff;
  padding-bottom: 4px;
}

.info-area-favorito {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.titulo_slider_favorito {
  font-family: "OpenSans-Regular" !important;
  font-weight: bold !important;
  color: #000000;
  font-size: 12px;
  margin: 0 auto;
  text-align: justify;
  display: flex;
  justify-content: center;
  align-items: center;
}

.titulo_slider_favorito p{
  font-family: "OpenSans-Regular" !important;
  line-height: 14px;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 4px;
  padding-bottom: 0px;
}

.img-area-favorito {
  padding-top: 4px !important;
  padding-left: 4px !important;
}

.move-animation {
  margin-left: 14px !important;
}

.descripcion_slider_servicio {
  font-family: "OpenSans-Regular" !important;
  font-weight: bold !important;
  color: grey;
  font-size: 10px;
  padding-top: 4px !important;
}
.single-box-favorito:hover img {
  cursor: pointer;
}

.team-slider-favorito .owl-dots {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -60px;
  width: 100%;
}

.team-slider-favorito button.owl-dot {
  display: none;
  width: 16px;
  height: 16px;
  display: inline-block;
  margin: 0 6px;
  text-align: center;
  background-color: #262626;
}

.banners_imagenes {
  margin-top: 2%;
}

.listado_lo_mas_leido {
  padding-top: 2%;
}

.titulo_lo_mas_leido {
  padding: 6px;
  color: #002e66;
  font-family: "OpenSans-Bold";
}

.informacion_listado b {
  color: #002e66;
  font-family: "OpenSans-Bold";
}

.informacion_listado p {
  color: black;
  font-family: "OpenSans-Regular";
  text-align: justify;
}
/* FIN SECCION TUS FAVORITOS */
