.card .card-header {
  align-items: flex-start !important;
}


.titulo_seccion {
  padding-bottom: 8px;
  margin-bottom: 20px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.322);
}

.contenedor_right_titulo {
  text-align: right;
}

.filtro_busqueda {
  border-right: 1px solid rgba(128, 128, 128, 0.233);
}

.filtro_busqueda ul {
  padding: 0px !important;
}

.filtro_busqueda ul li {
  text-transform: capitalize;
  list-style: none;
  color: black !important;
  font-family: "OpenSans-Regular";
}

.categorias {
  padding-bottom: 13px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.281);
  margin-bottom: 10px;
}

.boton_busqueda_filtro {
  text-align: center;
}

.input_busqueda {
  padding-bottom: 15px;
  margin-top: 2%;
  margin-bottom: 15px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.267);
}

.input_busqueda small {
  color: rgba(128, 128, 128, 0.822);
}

.fecha_busqueda {
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.267);
}

.checkbox-container label {
  padding-top: 5px;
}

.checkbox-container {
  display: flex;
  align-items: center;
}

input[type="checkbox"] {
  appearance: none;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  border: 2px solid gray;
  margin-right: 10px;
}

input[type="checkbox"]:checked {
  background-color: #002e66;
  border-color: #002e66;
}

.contenedor_concepto {
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 0px;
  border: 1px solid rgba(128, 128, 128, 0.178);
  border-radius: 10px;
}

.icono_favorito {
  right: 10px;
  top: 0px;
  width: 25px;
  height: 50px;
  position: absolute;
  z-index: 9;
  background-color: #002e66;

  text-align: center;
  align-items: center;
  padding-left: 5px !important;
  padding-right: 3px !important;
  padding-top: 13px !important;
  padding-bottom: 3px !important;
}

.icono_favorito svg {
  padding: 0px !important;
}

.titulo_concepto {
  text-align: center;
}

.titulo_concepto p {
  font-family: "OpenSans-Bold";
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;

  border-bottom: 1px solid rgba(128, 128, 128, 0.329);
  padding-bottom: 6px;
  margin-bottom: 4px !important;
}

.informacion_concepto {
  padding: 0px !important;
  text-align: center;
}

.informacion_concepto p i {
  font-size: 10px !important;
}
.informacion_concepto p {
  font-family: "OpenSans-Regular";
  font-size: 10px;
  color: grey;
}

/* Detallado del concepto en la modal */

.detalle_titulo_concepto {
  text-align: center;
  padding-bottom: 5px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.39);
}

.detalle_titulo_concepto h2 {
  text-transform: uppercase;
  font-family: "OpenSans-Bold";
  color: #021935 !important;
}

.detalle_descripcion_concepto p {
  text-align: justify;
  font-family: "OpenSans-Regular";
}

.detalle_documentos_concepto {
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.39);
  margin-bottom: 20px;
}

.detalle_documentos_concepto p {
  font-family: "OpenSans-Bold";
  font-size: 18px;
  color: #021935;
}

.detalle_mensaje_concepto {
  margin-bottom: 20px;
}

.detalle_mensaje_concepto p {
  font-family: "OpenSans-Bold";
  color: #021935;
}

.envio_respuesta{
  padding-top: 5px;
  padding-right: 0px !important;
  text-align: right;
}

/* Respuestas */

.detalle_respuesta_concepto p {
  font-family: "OpenSans-Bold";
  color: #021935;
}

.contenido_respuesta {
  padding: 0px !important;
  border: 1px solid #002e66;
  border-radius: 10px;
  margin-bottom: 10px;
}

.contenido_respuesta p{
padding: 10px;
  font-family: "OpenSans-Regular" !important;
}

.detalle_respuesta{
  color: black;
  padding: 10px !important;
  background-color: #002e6633;
  font-size: 12px;
}

.detalle_respuesta i{
  padding-bottom: 0px !important;
  font-family: "OpenSans-Regular" !important;
}


/* Formulario de solicitud */

.boton_registro{
  text-align: center;
}