
.titulo_seccion p {
    padding-bottom: 13px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.281);
  }
  
  .calculadora{
    padding: 10px;
  }

  .contenedor_calculadora{
    padding: 10px;
    text-align: center;
    border-radius: 5%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }

  .contenedor_calculadora p{
      font-family: "OpenSans-Bold";
      margin-top: 10px !important;
  }

  .contenedor_calculadora:hover{
    transform: translateY(-5px);
    transition: 1s;
  }