.card .card-header {
  align-items: flex-start !important;
}

.titulo_seccion p {
  padding-bottom: 13px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.281);
}

.boton_actualizar {
  padding-top: 10px;
}

.data_usuario ul li {
  font-family: "OpenSans-Regular";
  list-style: none;
}

.informacion_litipuntos {
  font-family: "OpenSans-Regular";
  text-align: right;
  line-height: 80px !important;
}

.informacion_litipuntos p {
  color: #002e66;
  padding: 0px !important;
}

.informacion_litipuntos b {
  font-size: 100px;
  color: #002e66;
}

.contenedor_header {
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.226);
}

.contenedor_premio_unico{
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 10px;
  background-color: rgba(128, 128, 128, 0.123);
  border: 1px solid #002e6677;
}

.imagen_premio{
  text-align: center;
}

.imagen_premio img {
  width: 80%;
}

.data_premio{
  text-align: center;
}

.data_premio > .texto{
  padding-top: 10px !important;
}

.data_premio p{
  padding-top: 6px;
  font-family: "OpenSans-Regular";
  text-align: justify;
  font-size: 12px;
  line-height: 14px;
  color: rgba(128, 128, 128, 0.801);
}

.contenedor_puntos_premio{
  position: absolute;
  background-color: black;
  z-index: 2;
  font-family: "OpenSans-Regular";
  padding: 5px 15px 5px 10px;
  color: white;
  border-radius: 10px;
  left: 6px;
}

@media only screen and (min-width: 100px) and (max-width: 320px) {

}

@media only screen and (min-width: 321px) and (max-width: 375px) {
}

@media only screen and (min-width: 376px) and (max-width: 425px) {
}

@media only screen and (min-width: 426px) and (max-width: 768px) {
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
}

@media only screen and (min-width: 1025px) and (max-width: 5000px) {
}
