.card .card-header {
  align-items: flex-start !important;
}

.filtro_busqueda {
  border-right: 1px solid rgba(128, 128, 128, 0.233);
}

.titulo_seccion p {
  padding-bottom: 13px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.281);
}

.filtro_busqueda ul {
  padding: 0px !important;
}

.filtro_busqueda ul li {
  text-transform: capitalize;
  list-style: none;
  color: black !important;
  font-family: "OpenSans-Regular";
}

.categorias {
  padding-bottom: 13px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.281);
  margin-bottom: 10px;
}

.boton_busqueda_filtro {
  text-align: center;
}

.input_busqueda {
  padding-bottom: 15px;
  margin-top: 2%;
  margin-bottom: 15px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.267);
}

.input_busqueda small {
  color: rgba(128, 128, 128, 0.822);
}

.fecha_busqueda {
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.267);
}

.checkbox-container label {
  padding-top: 5px;
}

.checkbox-container {
  display: flex;
  align-items: center;
}

input[type="checkbox"] {
  appearance: none;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  border: 2px solid gray;
  margin-right: 10px;
}

input[type="checkbox"]:checked {
  background-color: #002e66;
  border-color: #002e66;
}

.contenedor_curso_unico {
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid rgba(128, 128, 128, 0.178);
}

.imagen_curso img {
  width: 100% !important;
  border: 1px solid #021935;
}

.informacion_curso {
  font-family: "OpenSans-Regular";
  color: #021935;
  padding: 0px !important;
}

.titulo_informacion {
  text-align: center;
  font-family: "OpenSans-Bold" !important;
  font-size: 12px !important;
}

.descripcion_curso {
  margin-top: -10px;
  font-size: 10px !important;
  color: grey !important;
  font-family: "OpenSans-Regular" !important;
  line-height: 10px;
  text-align: justify;
  padding-right: 15px !important;
}

.descripcion_curso p {
  margin-top: -10px;
  font-size: 10px !important;
  color: grey !important;
  font-family: "OpenSans-Regular" !important;
  line-height: 10px;
  text-align: justify;
  padding-right: 15px !important;
}

/* INFORMACION DETALLADA DEL CURSO */
.titulo_curso_detallado {
  float: left;
  text-align: left;
  font-family: "OpenSans-Regular";
  border-bottom: 1px solid rgba(128, 128, 128, 0.295);
  margin-bottom: 3%;
  padding-bottom: 2%;
}

.titulo_curso_detallado button {
  text-align: right;
  float: right;
  align-items: right;
}

.presentacion_curso_imagen_video iframe {
  width: 100% !important;
  height: 400px;
}

.metas_curso_detallado {
  padding-top: 10px;
  font-family: "OpenSans-Regular";
  color: grey;
  text-align: justify;
}

.metas_curso_detallado b {
  padding-bottom: 10px !important;
  font-family: "OpenSans-Bold";
  color: #021935;
}

.metas_curso_detallado p {
  padding-top: 10px;
}

.descripcion_curso_detallado {
  padding-top: 10px;
  font-family: "OpenSans-Regular";
  color: grey;
  text-align: justify;
}

.descripcion_curso_detallado b {
  padding-bottom: 10px !important;
  font-family: "OpenSans-Bold";
  color: #021935;
}

.descripcion_curso_detallado p {
  padding-top: 10px;
}

/* CONTENEDOR RIGHT */


.contenedor_option {
  font-family: "OpenSans-Bold";
  background-color: #002e662d;
  font-size: 14px !important;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  align-items: center;
  border-radius: 10px;
  border: 1px solid #002e665e;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.contenido_option {
  margin-bottom: 10px;
  border: 1px solid rgba(128, 128, 128, 0.281);
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  padding-bottom: 0px;
}

.listado_lecciones {
  padding: 0px !important;
  list-style: none;
}

.card-body {
  padding-bottom: 10px !important;
}

.listado_lecciones li {
  padding-top: 5px;
  padding-bottom: 5px;
}

.active_leccion {
  padding-bottom: 4px;
  font-family: "OpenSans-Bold";
}

.listado_lecciones li i {
  color: #021935 !important;
}

.progress {
  margin-bottom: 10px;
}
.progress-bar-animated {
  animation-duration: 2s;
}

.boton_inicio button {
  margin-right: 1px;
}

.leccion_detallado h2 {
  padding-top: 10px;
  font-family: "OpenSans-Bold";
  color: black;
  text-align: justify;
}

.boton_terminar_leccion {
  align-items: right;
  justify-content: right;
  text-align: right;
}

.content-input input,
.content-select select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.content-input input {
  visibility: hidden;
  position: absolute;
  text-align: right;
}

.content-input {
  padding-top: 20px !important;
  position: relative;
  display: block;
  text-align: right;
}

.content-input:hover {
  cursor: pointer;
}

/* Estas reglas se aplicarán a todos las elementos i 
después de cualquier input*/
.content-input input + i {
  background: #f0f0f0;
  border: 2px solid rgba(0, 0, 0, 0.2);
  position: absolute;
  left: 0;
  top: 0;
}

/* Estas reglas se aplicarán a todos los i despues 
de un input de tipo checkbox*/
.content-input input[type="checkbox"] + i {
  margin-top: 10px;
  width: 44px;
  height: 20px;
  border-radius: 15px;
  text-align: center;
}

/*
Creamos el círculo que aparece encima de los checkbox
con la etqieta before. Importante aunque no haya contenido
debemos poner definir este valor.
*/
.content-input input[type="checkbox"] + i:before {
  text-align: center;
  content: ""; /* No hay contenido */
  width: 16px;
  height: 16px;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  left: 0px;
  top: 0px;
  -webkit-box-shadow: 3px 0 3px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 3px 0 3px 0 rgba(0, 0, 0, 0.2);
}

.content-input input[type="checkbox"]:checked + i:before {
  left: 22px;
  -webkit-box-shadow: -3px 0 3px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 3px 0 -3px 0 rgba(0, 0, 0, 0.2);
}

.content-input input[type="checkbox"] + i {
  background: rgba(255, 0, 0, 0.527);
}

.content-input input[type="checkbox"]:checked + i {
  background: #2ac176;
}

.content-input input[type="checkbox"] + i:after {
  position: absolute;
  font-size: 10px;
  color: rgba(255, 255, 255, 0.6);
  top: 8px;
  left: 4px;
  opacity: 0 /* Ocultamos este elemento */;
  transition: all 0.25s ease 0.25s;
}

/* Cuando esté checkeado cambiamos la opacidad a 1 y lo mostramos */
.content-input input[type="checkbox"]:checked + i:after {
  opacity: 1;
}

@media only screen and (min-width: 100px) and (max-width: 320px) {
  .presentacion_curso_imagen_video iframe {
    width: 100% !important;
    height: 200px;
  }

  ..parrafo_titulo {
    padding: 4px;
  }
  .parrafo_titulo h3 {
    font-size: 18px !important;
    font-family: "OpenSans-Bold" !important;
  }

  .contenedor_left_curso {
    padding: 0px !important;
  }

  #contenedor_general {
    align-items: none !important;
    display: row !important;
  }
}

@media only screen and (min-width: 321px) and (max-width: 375px) {
  .presentacion_curso_imagen_video iframe {
    width: 100% !important;
    height: 200px;
  }

  .parrafo_titulo {
    padding: 4px;
  }
  .parrafo_titulo h3 {
    font-size: 18px !important;
    font-family: "OpenSans-Bold" !important;
  }

  .contenedor_left_curso {
    padding: 0px !important;
  }

  .card-header {
    display: row !important;
  }
}

@media only screen and (min-width: 376px) and (max-width: 425px) {
  .presentacion_curso_imagen_video iframe {
    width: 100% !important;
    height: 200px;
  }

  .parrafo_titulo {
    padding: 4px;
  }
  .parrafo_titulo h3 {
    font-size: 18px !important;
    font-family: "OpenSans-Bold" !important;
  }

  .contenedor_left_curso {
    padding: 0px !important;
  }
  
  .card .card-header{
    align-items: center !important;
    display: row !important;
  }
}

@media only screen and (min-width: 426px) and (max-width: 768px) {
  .card-header {
    align-items: center !important;
    display: row !important;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
}

@media only screen and (min-width: 1025px) and (max-width: 5000px) {
}
