.contenedor_tarjeta {
    margin: auto;
    display: flex;
    flex-direction: column;
}

/* ---------- Estilos Generales de las Tarjetas ----------*/

.tarjeta {
    position: relative;
    color: #fff;
    transition: .3s ease all;
    transform: rotateY(0deg);
    transform-style: preserve-3d;
    cursor: pointer;
    z-index: 2;
    margin-bottom: 20px;
}

.tarjeta.active {
    transform: rotateY(180deg);
}

.tarjeta>div {
    padding: 30px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 10px 10px 0 rgba(90, 116, 148, 0.3);
}

/* ---------- Tarjeta Delantera ----------*/

.tarjeta .delantera {
    width: 100%;
    background: url("https://s3.amazonaws.com/cnp.com.co/dark-blue-plain-wall-background+(1).jpg");
    background-size: cover;
}

.delantera .logo-marca {
    text-align: right;
    min-height: 50px;
}

.delantera .logo-marca img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-width: 80px;
}

.delantera .chip {
    width: 100%;
    max-width: 50px;
    margin-bottom: 20px;
}

.delantera .grupo .label {
    font-size: 16px;
    color: #7d8994;
    margin-bottom: 5px;
}

.delantera .grupo .numero,
.delantera .grupo .nombre,
.delantera .grupo .expiracion {
    color: #fff;
    font-size: 22px;
    text-transform: uppercase;
}

.delantera .flexbox {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

/* ---------- Tarjeta Trasera ----------*/
.trasera {
    background: url("https://s3.amazonaws.com/cnp.com.co/dark-blue-plain-wall-background+(1).jpg");
    background-size: cover;
    position: absolute;
    top: 0;
    transform: rotateY(180deg);
    backface-visibility: hidden;
}

.trasera .barra-magnetica {
    height: 40px;
    background: #000;
    width: 100%;
    position: absolute;
    top: 30px;
    left: 0;
}

.trasera .datos {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
}

.trasera .datos p {
    margin-bottom: 5px;
}

.trasera .datos #firma {
    width: 70%;
}

.trasera .datos #firma .firma {
    height: 40px;
    background: repeating-linear-gradient(skyblue 0, skyblue 5px, orange 5px, orange 10px);
}

.trasera .datos #firma .firma p {
    line-height: 40px;
    font-family: 'Liu Jian Mao Cao', cursive;
    color: #000;
    font-size: 30px;
    padding: 0 10px;
    text-transform: capitalize;
}

.trasera .datos #ccv {
    width: 20%;
}

.trasera .datos #ccv .ccv {
    background: #fff;
    height: 40px;
    color: #000;
    padding: 10px;
    text-align: center;
}

.trasera .leyenda {
    font-size: 14px;
    line-height: 24px;
}

.trasera .link-banco {
    font-size: 14px;
    color: #fff;
}

/* ---------- Contenedor Boton ----------*/
.contenedor-btn .btn-abrir-formulario {
    width: 50px;
    height: 50px;
    font-size: 20px;
    line-height: 20px;
    background: #2364d2;
    color: #fff;
    position: relative;
    top: -25px;
    z-index: 3;
    border-radius: 100%;
    box-shadow: -5px 4px 8px rgba(24, 56, 182, 0.4);
    padding: 5px;
    transition: all .2s ease;
    border: none;
    cursor: pointer;
}

.contenedor-btn .btn-abrir-formulario:hover {
    background: #1850b1;
}

.contenedor-btn .btn-abrir-formulario.active {
    transform: rotate(45deg);
}

/* ---------- Formulario Tarjeta ----------*/

.formulario-tarjeta {
    border-radius: 10px;
    position: relative;
    z-index: 1;
    transition: clip-path .3s ease-out;
}

.form-control {
    display: block;
    padding: 0.375rem 0.75rem;
    font-size: 12px !important;
    font-weight: 400;
    line-height: 1.5;
    color: #726D7B;
    background-color: #fff;
    background-clip: padding-box;
    appearance: none;
    border-radius: 4px;
    box-shadow: none;
    margin-top: 3px;
}

.form-control:focus {
    display: block;
    padding: 0.375rem 0.75rem;
    font-size: 12px !important;
    font-weight: 400;
    line-height: 1.5;
    color: #726D7B;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #002E66;
    appearance: none;
    border-radius: 8px;
    box-shadow: none;
    margin-top: 3px;
}


.formulario-tarjeta input {
    text-transform: uppercase;
}

.formulario-tarjeta .flexbox {
    display: flex;
    justify-content: space-between;
}

.formulario-tarjeta .expira {
    width: 100%;
}

.formulario-tarjeta .ccv {
    min-width: 100px;
}


.form-group {
    margin-bottom: 10px;
}



.titulo_template {
    text-align: center;
    color: black;
    font-size: 26px;
    padding-top: 30px;
    padding-bottom: 6px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.137);
    margin-bottom: 2rem;
}

.titulo_customer {
    color: black;
    font-weight: bold;
    font-size: 15px;
}

.form-control {
    display: block !important;
    padding: 0.375rem 0.75rem !important;
    font-size: 12px !important !important;
    font-weight: 400 !important;
    line-height: 1.5 !important;
    color: #726D7B !important;
    background-color: #fff !important;
    background-clip: padding-box !important;
    appearance: none !important;
    border-radius: 4px !important;
    box-shadow: none !important;
    margin-top: 3px !important;
    margin-bottom: 10px;
}

.form-control:focus {
    display: block !important;
    padding: 0.375rem 0.75rem !important;
    font-size: 12px !important;
    font-weight: 400 !important;
    line-height: 1.5 !important;
    color: #726D7B;
    background-color: #fff !important;
    background-clip: padding-box !important;
    border: 1px solid #002E66 !important;
    appearance: none !important;
    border-radius: 8px !important;
    box-shadow: none !important;
    margin-top: 3px !important;
}

.form-group label {
    color: #000;
    font-size: 13px;
}


.titulo_payment {
    font-weight: bold;
}

.epayco_payment {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px !important;
    height: 100px;
    background-image: url("https://s3.amazonaws.com/cnp.com.co/logo_epayco.png");
    background-size: 100% 100%;
    border-radius: 10px;
}

.epayco_payment:hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://s3.amazonaws.com/cnp.com.co/logo_epayco.png");
    cursor: pointer;
}

.paypal_payment {
    margin-left: 10px !important;
    /*background-image: url("https://s3.amazonaws.com/cnp.com.co/logo_paypal.png");*/
    background-size: 100% 100%;
    border-radius: 10px;
    /* desactivar temporal */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://s3.amazonaws.com/cnp.com.co/logo_paypal.png");
}

.paypal_payment:hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://s3.amazonaws.com/cnp.com.co/logo_paypal.png");
    cursor: pointer;
}

.figure_check_epayco {
    display: none;
    color: white;
    text-align: center;
    margin: 0 auto;
}

.figure_check_paypal {
    margin-top: 15%;
    flex: 0 0 auto;
    display: block;
    color: white;
    text-align: center;
}

.figure_check_epayco img,
.figure_check_paypal img {
    width: 20%;
}

.active_check {
    flex: 0 0 auto;
    display: block;
    color: white;
    text-align: center;
    margin: 0 auto;
}

.active_payment_epayco {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://s3.amazonaws.com/cnp.com.co/logo_epayco.png");

}

.container_customer {
    margin-bottom: 30px;
}

.data_suscripcion {
    color: black;
}

.valor_plan {
    margin-top: 10px;
    font-size: 30px;
    text-align: right;
    font-weight: bold;
}

.tiempo_plan {
    font-size: 16px;
    text-align: right;
    font-weight: bold;
}


/* checbox politicas de privacidad y datos */

/* The container */
.container_check {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.container_check input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
    border-radius: 10px;
}

/* On mouse-over, add a grey background color */
.container_check:hover input~.checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container_check input:checked~.checkmark {
    background-color: #0a2c3e;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container_check input:checked~.checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container_check .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.boton_siguiente {
    text-align: center;
}

.contenedor_bloqueo {
    display: none;
    top: 0px;
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.575);
    font-size: 30px;
    color: white;
    z-index: 999 !important;
    justify-content: center;
    align-items: center;
}

.active_contenedor_bloqueo {
    display: flex !important;
}

.body_inactive {
    overflow: hidden;
}

.mensaje_bloqueo {
    flex: 0 0 auto;
    display: block;
    color: white;
    text-align: center;
    margin: 0 auto;
    align-content: center;

}


.spinner_epayco {
    margin: 0 auto;
    position: relative;
    width: 88px;
    height: 88px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.spinner_epayco::before,
.spinner_epayco::after {
    border: 4.6px solid white;
    border-radius: 50%;
    position: absolute;
    content: '';
    display: block;
}

.spinner_epayco::before {
    width: 52.8px;
    height: 52.8px;
    border-bottom-color: transparent;
    border-left-color: transparent;
    animation: spinner_epayco-1o3y8q 0.8999999999999999s infinite linear reverse;
}

.spinner_epayco::after {
    animation: spinner_epayco-1o3y8q 0.6s infinite linear;
    height: 88px;
    width: 88px;
    border-right-color: transparent;
    border-top-color: transparent;
}

@keyframes spinner_epayco-1o3y8q {
    to {
        transform: rotate(360deg);
    }
}