.card .card-header {
  align-items: flex-start !important;
  padding: 0px !important;
}

#contenedor_servicio_cliente {
  background-color: rgba(128, 128, 128, 0.075);
}

#contenedor_completo {
  padding-top: 13px;
  margin-bottom: 20px;
  height: 500px;
  overflow: scroll;
  overflow-x: hidden;
}

#contenedor_completo::-webkit-scrollbar {
  width: 0px !important; /* Ancho de la barra de desplazamiento */
}

#contenedor_completo::-webkit-scrollbar-thumb {
  background-color: #021935; /* Color del pulgar (barra de desplazamiento) */
  border-radius: 4px; /* Radio de borde del pulgar */
}

#contenedor_completo::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Color de fondo de la barra de desplazamiento */
}

.contenedor_input_text {
  margin-bottom: 10px;
}

.titulo_seccion p {
  padding-top: 13px;
  padding-bottom: 13px;
  margin-bottom: 0px !important;
  border-bottom: 1px solid rgba(128, 128, 128, 0.281);
}

.filtro_busqueda {
  padding-top: 13px !important;
  padding-right: 0px !important;
  padding-left: 0px !important;
  padding-bottom: 0px !important;

  border-right: 1px solid rgba(0, 0, 0, 0.096);
}

.titulo_chat {
  padding-top: 10px;
  font-family: "OpenSans-Bold";
  color: #002e66;
  margin-bottom: 20px;
}

/* =================== Menu lateral izquierdo =================== */

.div_input_busqueda {
  padding-bottom: 20px;
  position: relative;
  display: inline-block; /* Ajusta el contenedor al tamaño del campo de entrada */
  border-bottom: 1px solid rgba(0, 0, 0, 0.096);
}

.div_input_busqueda input[type="text"] {
  border-radius: 30px;
  padding-left: 30px; /* Espacio para el icono */
}

.div_input_busqueda .icon {
  position: absolute;
  top: 35%;
  left: 22px;
  transform: translateY(-50%);
  font-size: 18px;
  color: #9999993a;
}

.usuario_unico {
  border-radius: 10px;
}

.usuario_unico:hover {
  background-color: rgba(141, 141, 141, 0.082);
}

.imagen_usuario {
  padding: 8px !important;
}

.imagen_usuario img {
  border: 2px solid white;
  width: 100%;
}

.titulo_usuario {
  padding: 0px !important;
  display: flex;
  align-items: center;
}

.titulo_usuario ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: left;
}

.titulo_usuario ul li {
  padding: 0px;
  line-height: 12px;
}

.nombre_usuario_li {
  font-family: "OpenSans-Regular";
  font-size: 12px !important;
}

.disponibilidad_usuario_li small {
  font-family: "OpenSans-Regular";
  font-size: 10px !important;
  color: rgb(3, 85, 3);
}

.active_usuario {
  background-color: #021935 !important;
  color: white !important;
}

.active_usuario ul li small {
  color: white;
}

/* ================= Fin Menu lateral izquierdo =================*/

/* ================= Menu lateral Derecho =================*/

.avatar_usuario img {
  width: 100%;
}

.contenido_mensaje_enviado {
  padding-top: 0px !important;
  padding-bottom: 0px !important;

  padding-left: 8px !important;
  padding-right: 8px !important;

  display: flex;
  align-items: left;
  flex-direction: row-reverse;
}

.descripcion_mensaje_enviado {
  background-color: #021935;
  border-radius: 4px;

  color: white;
  padding: 8px !important;

  font-size: 12px;
  font-family: "OpenSans-Regular";
}

.descripcion_mensaje_enviado,
.informacion_mensaje_enviado {
  text-align: right;
}

.informacion_mensaje_enviado {
  padding-right: 0px !important;
  padding-top: 4px !important;
  padding-left: 0px !important;
  padding-bottom: 0px !important;

  color: gray;
  font-size: 10px;
  font-family: "OpenSans-Regular";
}

.contenido_mensaje_recibido {
  padding-top: 0px !important;
  padding-bottom: 0px !important;

  padding-left: 8px !important;
  padding-right: 8px !important;

  display: flex;
  align-items: left;
}

.descripcion_mensaje_recibido {
  background-color: white;
  border-radius: 4px;

  color: #021935;
  padding: 8px !important;

  font-size: 12px;
  font-family: "OpenSans-Regular";

  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.descripcion_mensaje_recibido,
.informacion_mensaje_recibido {
  text-align: left;
}

.informacion_mensaje_recibido {
  padding-right: 0px !important;
  padding-top: 4px !important;
  padding-left: 0px !important;
  padding-bottom: 0px !important;

  color: gray;
  font-size: 10px;
  font-family: "OpenSans-Regular";
}

/* ================= Fin Menu lateral Derecho =================*/

@media screen and (min-width: 0px) and (max-width: 320px) {

  .usuario_unico{
    border-radius: 4px;
    padding: 4px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  }

  .usuario_unico .row .imagen_usuario{
    display: none;
  }

}

@media screen and (min-width: 321px) and (max-width: 375px) {
}

@media screen and (min-width: 376px) and (max-width: 425px) {
}

@media screen and (min-width: 426px) and (max-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media screen and (min-width: 769px) and (max-width: 1024px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1025px) {
}
