.contenedor_principal_texto {
  background-color: #002e66;
  height: 40vh;
}

.contenido_descripcion_banner {
  bottom: 10px;
  position: absolute;
  color: white;
  font-size: 36px;
}

.descripcion_texto_encabezado {
  margin-top: 6px;
  font-size: 16px;
  text-align: justify;
  font-family: "OpenSans-Light";
}

.acordeon .wrapper {
  margin: 0 auto;
  background: white;
  border-radius: 4px;
  position: relative;
}

.acordeon .wrapper label {
  display: block;
  position: relative;
  color: black;
  overflow: hidden;
  cursor: pointer;
  height: 56px;
  -webkit-transition: text-indent 0.2s;
  text-indent: 20px;
  padding-top: 20px;
  border-bottom: 1px solid rgb(206, 202, 202);
}

.acordeon .wrapper ul {
  margin: 0;
  padding: 0;
}

.acordeon .wrapper li {
  color: white;
  list-style-type: none;
}

.acordeon .wrapper li a {
  display: block;
  width: 100%;
  padding: 15px 0px;
  text-decoration: none;
  color: white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.06);
}

.acordeon .wrapper li a:hover {
  background-color: rgba(0, 0, 0, 0.06);
}

.acordeon .wrapper label:hover {
  background: #002E66 !important;
  color: white;
  text-indent: 30px;
  transition: text-indent 0.8s;
}

.acordeon .wrapper input[type=checkbox] {
  display: none;
}

.acordeon .wrapper span {
  height: 3px;
  position: absolute;
  width: 0px;
  display: block;
  top: 58px;
  background: white;
}

.acordeon .wrapper .content {
  padding: 20px;
  background: #002E66;
  height: 0px;
  position: relative;
  overflow: scroll;
  padding-bottom: 50px !important;
}

.acordeon .wrapper .lil_arrow {
  width: 5px;
  height: 5px;
  transition: transform 0.8s;
  -webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  border-top: 2px solid white;
  border-right: 2px solid white;
  float: right;
  position: relative;
  top: -30px;
  right: 27px;
  transform: rotate(45deg);
}

.acordeon .wrapper input[type=checkbox]:checked+label>.content {
  color: #002E66 !important;
  display: block;
  padding: 20px;
  background-color: white !important;
  height: 100%;
  border-top: 2px solid white;
}

.acordeon .wrapper input[type=checkbox]:checked+label>span {
  display: none;
}

.acordeon .wrapper input[type=checkbox]:checked+label>.lil_arrow {
  transition: transform 0.8s;
  -webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transform: rotate(135deg);
}

.acordeon .wrapper input[type=checkbox]:checked+label {
  display: block;
  background: #002E66 !important;
  color: white;
  text-indent: 30px;
  height: 225px;
  transition: height 0.8s;
  -webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.acordeon .wrapper label:hover>span {
  width: 100%;
  -webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: width 0.4s;
}

.acordeon .wrapper input[type=checkbox]:not(:checked)+label {
  display: block;
  transition: height 0.8s;
  height: 60px;
  -webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

::-webkit-scrollbar {
  display: none;
}

/* ======================== CONTENEDOR NUESTRO PORTAFOLIO DE SERVICIOS ======================== */

.contenedor_tercero_principal {
  background-color: #f8f8f8 !important;
}

.servicio_cnp {
  padding: 20px !important;
}

.servicio_cnp:hover {
  cursor: pointer;
}

.titulo_seccion_servicios {
  color: #1f335e !important;
  text-align: center;
  margin-bottom: 5px;
}

.titulo_seccion_servicios h1 {
  font-family: "OpenSans-Bold" !important;
  color: #1f335e !important;
}

.contenedor_servicio {
  border-radius: 10px !important;
  background-size: cover;
  height: 200px !important;
  position: relative;
  padding: 10px;
}

.capa_superior_servicio {
  border-radius: 10px !important;

  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #002e66a2;
  /* Fondo semi-transparente para ilustrar la superposición */
  z-index: 1;
  /* Establece la capa por encima del contenido del div */
}

.contenedor_servicios {
  margin-top: 20px !important;
}

.titulo_servicio_cnp {
  z-index: 2;
  position: relative;
  color: white;
  height: 100%;

  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.titulo_servicio_cnp p {
  font-family: "OpenSans-Bold";
  font-size: 20px;
  line-height: 22px;
}

/* ======================== FIN CONTENEDOR NUESTRO PORTAFOLIO DE SERVICIOS ======================== */

/* ======================= CODIGO QUERY CSS ======================= */

@media only screen and (min-width: 100px) and (max-width: 320px) {
  .titulo_texto_encabezado {
    font-size: 30px;
    color: white;
  }

  .contenedor_principal_texto {
    padding-top: 10% !important;
    padding-bottom: 10% !important;
    height: 100%;
  }

  .contenido_descripcion_banner {
    margin-top: 20%;
  }

  .descripcion_texto_encabezado {
    font-size: 14px;
    font-family: "OpenSans-Light";
    color: white;
  }
}

@media only screen and (min-width: 321px) and (max-width: 375px) {
  .titulo_texto_encabezado {
    font-size: 30px;
    color: white;
  }

  .contenedor_principal_texto {
    padding-top: 10% !important;
    padding-bottom: 10% !important;
    height: 100%;
  }

  .contenido_descripcion_banner {
    margin-top: 20%;
  }

  .descripcion_texto_encabezado {
    font-size: 14px;
    font-family: "OpenSans-Light";
    color: white;
  }
}

@media only screen and (min-width: 376px) and (max-width: 425px) {
  .titulo_texto_encabezado {
    font-size: 30px;
    color: white;
  }

  .contenedor_principal_texto {
    padding-top: 10% !important;
    padding-bottom: 10% !important;
    height: 100%;
  }

  .contenido_descripcion_banner {
    margin-top: 20%;
  }

  .descripcion_texto_encabezado {
    font-size: 14px;
    font-family: "OpenSans-Light";
    color: white;
  }
}

@media only screen and (min-width: 426px) and (max-width: 768px) {
  .titulo_texto_encabezado {
    font-size: 30px;
    color: white;
  }

  .contenedor_principal_texto {
    padding-top: 5% !important;
    padding-bottom: 5% !important;
    height: 100%;
  }

  .contenido_descripcion_banner {
    margin-top: 20%;
  }

  .descripcion_texto_encabezado {
    font-size: 14px;
    font-family: "OpenSans-Light";
    color: white;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .titulo_texto_encabezado {
    font-size: 30px;
    color: white;
  }

  .contenedor_principal_texto {
    padding-top: 5% !important;
    padding-bottom: 5% !important;
    height: 100%;
  }

  .contenido_descripcion_banner {
    margin-top: 20%;
  }

  .descripcion_texto_encabezado {
    font-size: 14px;
    font-family: "OpenSans-Light";
    color: white;
  }
}

@media only screen and (min-width: 1025px) and (max-width: 5000px) {
  .titulo_texto_encabezado {
    font-size: 30px;
    color: white;
  }

  .contenedor_principal_texto {
    padding-top: 5% !important;
    padding-bottom: 5% !important;
    height: 100%;
  }

  .contenido_descripcion_banner {
    margin-top: 20%;
  }

  .descripcion_texto_encabezado {
    font-size: 14px;
    font-family: "OpenSans-Light";
    color: white;
  }
}